<div class="slider-frame">
    <ul>
        <li>
            <div class="slide-content">
                <p class="slider-text">
                    <!-- Expo-Feria Herbolaria 15 de Nov. -->
                </p>
                <a href="#" (click)="reditecToServicios()"><img src="/assets/inicio/expoferia.jpg" alt=""></a>
            </div>
        </li>
        <li>
            <div class="slide-content">
                <p class="slider-text">
                    <a href="#" (click)="redirecToAfiliate()"> ¡Únete a Nosotros!</a>
                </p>
                <img src="/assets/inicio/nosotos.jpg" alt="">
            </div>
        </li>
        <li>
            <div class="slide-content">
                <p class="slider-text">
                    <a href="#" (click)="reditecToServicios()">Reunión Socios 08 de Mayo</a>
                </p>
                <img src="/assets/inicio/reunion.jpg" alt="">
            </div>
        </li>
    </ul>
</div>


<!--ESto va a ir en el componente de Inicio-->
<body>
    
<div class="contenido">
    <div class="somos">
        <div class="img">
            <img src="/assets/inicio/inicio.png" alt="">
        </div>
        <div class="sInfo">
            <h2>¿Qué Somos?</h2>
            <p class="txt">
                Somos una ONG que abarca todos los sectores del naturismo en el país.
                Nos dedicamos a fomentar el uso responsable de los recursos naturales,
                preservar y compartir saberes tradicionales, y asegurar la disponibilidad
                de productos naturistas de alta calidad para todos.
            </p>
        </div>
    </div>
</div>

<div class="unete">
    <div class="invitacion">
        <div class="txt2">
            <div class="ti">
                <h2>¡Únete a nosotros!</h2>
            </div>
            <div class="parrafo">
                <p>
                    <!-- Te invitamos a unirte a nuestra comunidad y-->
                    Forma parte de un sector comprometido con la salud y el
                    bienestar de la población mexicana. Juntos, podemos: <br>
                    Promover el uso responsable de nuestros recursos herbales. <br>
                    Rescatar y difundir el conocimiento tradicional sobre medicina natural. <br>
                    Garantizar el acceso a productos naturistas de calidad para todos. <br>
                </p>
                <div class="btn">
                    <button (click)="redirecToAfiliate()">Saber más</button>

                </div>

            </div>
        </div>
        <div class="combo">
            <img src="/assets/inicio/nosotros.png" alt="">
        </div>
    </div>
</div>
<aside class="externo">
    <div class="interes">
        <h2>Sitio de interes</h2>
    </div>
    <div class="ext">
        <div class="planta">
            <a href="https://www.youtube.com/@larutadelaplantamedicinal1418" target="_blank"
                title="Ir al sitio de Youtube"><img src="/assets/inicio/rutaPlanta.png" alt=""></a>
        </div>
        <div class="ruta">
            <h3><a href="https://www.facebook.com/people/Ruta-De-La-Planta-Medicinal/100070004912033/" target="_blank"
                    title="Ir al sitio de Facebook"><b>La Ruta de la Planta Medicinal</b></a></h3>
            <p>
                El contenido de educación en salud hablando de las rutas medicinales
            </p>
        </div>
    </div>
</aside>

</body>
