/*Carrusel de imagenes*/
.slider-frame {
  position: relative;
  width: auto;
  max-width: 100%;
  overflow: hidden;
}

.slider-frame ul {
  display: flex;
  padding: 0;
  width: 300%;
  animation: slide 15s infinite ease-in-out;
}

.slider-frame li {
  position: relative;
  width: 100%;
  list-style: none;
}

.slide-content {
  position: relative;
  text-align: center;
  /* Centramos el contenido */
}

.slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 58px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  /* Fondo semi-transparente */
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  /* Ajusta el estilo del texto según necesites */
}

.slider-frame img {
  display: block;
  width: 100%;
  height: auto;
  /* Para mantener la proporción de la imagen */
}

@keyframes slide {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }
}

.contenido {
  height: 400px;
  width: 100%;
  display: flex;
  height: 500px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dfd6d6;
}

.somos {
  height: 300px;
  width: auto;
  display: flex;
  align-items: center;
  margin: 5rem;
}

.img {
  width: 20%;
  height: 300px;
}

.img img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.sInfo {
  height: 300px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sInfo h3 {
  color: #007c65;
  font-size: 50px;
  font-weight: bolder;
  padding-left: 3rem;
}

.txt {
  font-size: 18px;
  color: #57392E;
  padding-top: 4rem;
}

.contenido p {
  font-size: 18px;
  color: #57392E;
  padding: 0 3rem;

}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #0abf94;
  /* Color de fondo */
  color: white;
  /* Color del texto */
  padding: 12px 24px;
  border: none;
  /* Hacemos el botón más redondeado */
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  /* Quitamos el borde al hacer clic */
  position: relative;
  overflow: hidden;
  transition: all 0.3s;

  transition: all .3s ease-in;
}

/* Efecto de sombra al pasar el cursor */
button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  transition: all 0.3s;

}

button:hover {
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  background-color: #045043;
  transition: all .3s ease-out;
}

button:hover::before {

  transform: scale(3);
  /* Agrandamos el efecto de sombra al pasar el cursor */
  opacity: 0;
  /* Hacemos que la sombra desaparezca */
}


/*Aqui va la segunda seccion y el aside*/
.unete {
  height: 700px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.invitacion {
  width: 450px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, .2);
  transition: all .7s ease-in;
}

.invitacion:hover {
  transition: all .5s ease-out;
  background-color: #dfd6d6;
  border: none;
}

.txt2 {
  font-size: 18px;
  color: #57392E;
  text-align: center;
  padding: 1rem 2rem;
}

.combo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 250px;
  margin-top: 2rem;
}

.combo img {
  width: 200px;
  height: 200px;
  padding-bottom: 1rem;
}

/*?Estilos del aside*/
.externo {
  height: 500px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ext {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
  background-color: #dfd6d6;
}

.ruta h3,
a {
  color: #007c65;
  font-size: 50px;
  text-align: left;
  font-weight: bolder;
}

.ruta p {
  font-size: 18px;
  color: #57392E;
  padding-top: 2rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  /* Estilos para tabletas en orientación horizontal */

/*Carrusel de imagenes*/
.slider-frame {
  position: relative;
  width: auto;
  overflow: hidden;
}

  /*?Estilos de que somos*/
  .contenido {
    height: 500px;
    width: auto;
    background-color: transparent;

  }
  .somos{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
  }
  .img{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }
  .img img {
    width: 150px;
    height: 150px;
  }
  .sInfo{
    height: 100%;
    width: auto;
    text-align: center;
  } 
  .sInfo h3{
    width: 100%;
    text-align: center;
  }
  button:hover {
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    background-color: #dfd6d6;
    transition: all .3s ease-out;
  }

  /*? EStilos de invitacion a afiliarte*/
  .unete{
    height: 100%;
    width: auto;
    background-color: #045043;
  }
  .invitacion{
    box-shadow: none;
    width: auto;
    transition: none;
  }
  .invitacion:hover{
    transition: none;
    background-color: transparent;
  }
  .txt2{
    color: #fff;
  }

  /*?Estilos para el aside*/

   .externo{
   width: auto;
  }
  .externo > p {
    font-weight: bolder;
  }
  .ruta h3{
    text-align: center;
  }
  .ext{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
  }
}