<h1>Hola buenas tardes</h1>

<div class="slider-frame">
    <ul>
        <li>
            <div class="slide-content">
                <p class="slider-text">
                    Expo-Feria Herbolaria 15 de Nov.
                </p>
                <a href="#" (click)="reditecToServicios()"><img src="/assets/expoferia.jpg" alt=""></a>
            </div>
        </li>
        <li>
            <div class="slide-content">
                <p class="slider-text">
                    ¡Únete a Nosotros!
                </p>
                <a href="#" (click)="redirecToAfiliate()"><img src="/assets/nosotos.jpg" alt=""></a>
            </div>
        </li>
        <li>
            <div class="slide-content">
                <p class="slider-text">
                    Reunión Socios 08 de Mayo
                </p>
                <a href="#" (click)="reditecToServicios()"><img src="/assets/reunion.jpg" alt=""></a>
            </div>
        </li>
    </ul>
</div>


<!--ESto va a ir en el componente de Inicio-->
<div class="contenido">
    <div class="somos">
        <div class="img">
            <img src="assets/inicio/hierbas.jpg" alt="">
        </div>
        <div class="sInfo">
            <h3>¿Qué Somos?</h3>
            <p class="txt">
                Somos una ONG que abarca todos los sectores del naturismo en el país.
                Nos dedicamos a fomentar el uso responsable de los recursos naturales,
                preservar y compartir saberes tradicionales, y asegurar la disponibilidad
                de productos naturistas de alta calidad para todos.
            </p>
        </div> 
    </div>
</div>

<div class="unete">
    <div class="invitacion">
        <p class="txt2">
            Te invitamos a unirte a nuestra comunidad y formar parte de un sector comprometido con la salud y el
            bienestar
            de la población mexicana. Juntos, podemos:
            Promover el uso responsable de nuestros recursos herbales.
            Rescatar y difundir el conocimiento tradicional sobre medicina natural.
            Garantizar el acceso a productos naturistas de calidad para todos.
        </p>
        <div class="combo">
            <img src="/assets/inicio/nosotros.png" alt="">
            <button (click)="redirecToAfiliate()">Saber más</button>

        </div>
    </div>
</div>
<aside class="externo">
    <p>Sitio de interes</p>
    <div class="ext">
        <div class="ruta">
            <h3><b>La Ruta de la <br> Planta Medicinal</b></h3>
            <p>
                El contenido de educación en salud hablando de las rutas medicinales
            </p>
        </div>
        <div class="planta">
            <a href="https://www.youtube.com/@larutadelaplantamedicinal1418" target="_blank"><img
                    src="/assets/inicio/rutaPlanta.png" alt="" class="ruta"></a>
        </div>
    </div>
</aside>