<!---->
<div class="tituloV">
    <p class="ti">Nuestra <span>Filosofía</span></p>
</div>
<div class="filosofia">

    <div class="wrapper">
        <h1>Mision</h1>
        <div class="img">
            <img src="/assets/mision.jpg" alt="">
            <div class="content">
                <p>
                    Promover el desarrollo del sector,
                    conserva recursos botánicos, valora la medicina tradicional y
                    garantiza la calidad de los productos. Además, capacita a sus
                    miembros y se enfoca en la conservación y profesionalización
                    del sector.
                </p>

            </div>
        </div>
    </div>
    <div class="wrapper">
        <h1>Visión</h1>
        <div class="img">
            <img src="/assets/vision.jpg" alt="">
            <div class="content">
                <p>
                    Impulsar el crecimiento del sector naturista y
                    promueve la confianza en la medicina alternativa, colaborando
                    con autoridades y ofreciendo productos de calidad para mejorar
                    la salud y nutrición de la población.

                </p>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <h1>Valores</h1>
        <div class="img">
            <img src="/assets/mision.jpg" alt="">
            <div class="content">
                <p>
                    Comprometidos con la ética, la integridad y la
                    calidad en sus actividades, cumpliendo con estándares y normativas.
                    Prioriza la excelencia y seguridad en productos naturistas, fomenta
                    la innovación en medicina alternativa y herbolaria, y promueve la
                    colaboración en el sector.
                </p>

            </div>
        </div>
    </div>
</div>
<!-- <div class="contenedor">
    <a href="#">
        <figure>
            <img src="assets/mision.jpg" />
            <div class="capa">
                <h3>Msión</h3>
                <p>
                    Promover el desarrollo del sector,
                    conserva recursos botánicos, valora la medicina tradicional y
                    garantiza la calidad de los productos. Además, capacita a sus
                    miembros y se enfoca en la conservación y profesionalización
                    del sector.
                </p>
            </div>
        </figure>
    </a>
    <a href="#">
        <figure>
            <img src="assets/vision.png" />
            <div class="capa">
                <h3>Visión</h3>
                <p>
                    Impulsar el crecimiento del sector naturista y
                    promueve la confianza en la medicina alternativa, colaborando
                    con autoridades y ofreciendo productos de calidad para mejorar
                    la salud y nutrición de la población.
                </p>
            </div>
        </figure>
    </a>
    <a href="#">
        <figure>
            <img src="assets/valores.avif" />
            <div class="capa">
                <h3>Valores</h3>
                <p>
                    Comprometidos con la ética, la integridad y la
                    calidad en sus actividades, cumpliendo con estándares y normativas.
                    Prioriza la excelencia y seguridad en productos naturistas, fomenta
                    la innovación en medicina alternativa y herbolaria, y promueve la
                    colaboración en el sector.
                </p>
            </div>
        </figure>
    </a>
</div> -->