<!---->
<div class="titt">
    <p class="ti"><span>Nuestra </span>Filosofía</p>
</div>


<div class="filosofia">
    <div class="wrapper">
        <div class="content">
            <div class="res">
                <h1>Misión</h1>
            </div>
            <div class="informacion">
                <p>
                    Promover el desarrollo del sector de la medicina tradicional y herbolaria,
                    trabajando en conjunto con autoridades de la educación para ofrecer a la población
                    una alternativa de salud; así como productos que cumplan con la calidad, seguridad y eficacia.
                </p>
            </div>
        </div>
        <div class="ima">
            <div class="img">
                <div class="im"></div>
            </div>
        </div>
    </div>

    <div class="wrapper1">
        <div class="content">
            <div class="res">
                <h1>Visión</h1>
            </div>
            <div class="informacion1">
                <p>
                    Promover el desarrollo del sector de la medicina tradicional y herbolaria,
                    trabajando en conjunto con autoridades de la educación para ofrecer a la población
                    una alternativa de salud; así como productos que cumplan con la calidad, seguridad y eficacia.
                </p>
            </div>
        </div>
        <div class="ima">
            <div class="img1">
                <div class="im1"></div>
            </div>
        </div>

    </div>

    <div class="filosofia">
        <div class="wrapper">
            <div class="content">
                <div class="res">
                    <h1>Valores</h1>
                </div>
                <div class="informacion">
                    <p>
                        Promover el desarrollo del sector de la medicina tradicional y herbolaria,
                        trabajando en conjunto con autoridades de la educación para ofrecer a la población
                        una alternativa de salud; así como productos que cumplan con la calidad, seguridad y eficacia.
                    </p>
                </div>
            </div>
            <div class="ima">
                <div class="img2">
                    <div class="im2"></div>
                </div>
            </div>
        </div>
    <!-- <div class="wrapper">
        <h1>Visión</h1>

        <div class="content">
            <p>
                Ser una organización que integre todos los eslabones de la cadena de la medicina tradicional
                y herbolaria, en aras de contribuir en la gestión de políticas públicas que conserven y difundan el
                conocimiento.

            </p>
        </div>
    </div>
    <div class="wrapper">
        <div class="res">
            <h1>Valores</h1>
        </div>
        <div class="content">\
            <ul>
                <li> Profesionalismo</li>
                <li> Honestidad e Integridad</li>
                <li> Gestión Responsable</li>
                <li> Protección del Ambiente</li>
                <li> Observancia de Buenas Prácticas Comerciales y de Manufactura</li>
            </ul>
            <p>

            </p>

        </div>
    </div> -->
</div>

<!-- <div class="titt">
    <div class="tituloV">
        <p class="ti"><span>Nuestra </span>Filosofía</p>
    </div>

</div>
<div class="filosofia">
    <div class="wrapper">
        <div class="res">
            <h1>Mision</h1>
        </div>
        <div class="img">
            <img src="/assets/mision.jpg" alt="">
            <div class="content">
                <p>
                    Promover el desarrollo del sector de la medicina tradicional y herbolaria,
                    trabajando en conjunto con autoridades de la educación para ofrecer a la población
                    una alternativa de salud; así como productos que cumplan con la calidad, seguridad y eficacia.
                </p>

            </div>
        </div>
    </div>
    <div class="wrapper">
        <h1>Visión</h1>
        <div class="img">
            <img src="/assets/vision.jpg" alt="">
            <div class="content">
                <p>
                    Ser una organización que integre todos los eslabones de la cadena de la medicina tradicional
                    y herbolaria, en aras de contribuir en la gestión de políticas públicas que conserven y difundan el
                    conocimiento.

                </p>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="res">
            <h1>Valores</h1>
        </div>
        <div class="img">
            <img src="/assets/valores.jpg" alt="">
            <div class="content">\
                <ul>
                    <li> Profesionalismo</li>
                    <li> Honestidad e Integridad</li>
                    <li> Gestión Responsable</li>
                    <li> Protección del Ambiente</li>
                    <li> Observancia de Buenas Prácticas Comerciales y de Manufactura</li>
                </ul>
                <p>

                </p>

            </div>
        </div>
    </div>
</div> -->