<!---->
<div class="titt">
    <div class="tituloV">
        <p class="ti"><span>Nuestra </span>Filosofía</p>
    </div>

</div>
<div class="filosofia">
    <div class="wrapper">
        <div class="res">
            <h1>Mision</h1>
        </div>
        <div class="img">
            <img src="/assets/mision.jpg" alt="">
            <div class="content">
                <p>
                    Promover el desarrollo del sector de la medicina tradicional y herbolaria,
                    trabajando en conjunto con autoridades de la educación para ofrecer a la población
                    una alternativa de salud; así como productos que cumplan con la calidad, seguridad y eficacia.
                </p>

            </div>
        </div>
    </div>
    <div class="wrapper">
        <h1>Visión</h1>
        <div class="img">
            <img src="/assets/vision.jpg" alt="">
            <div class="content">
                <p>
                    Ser una organización que integre todos los eslabones de la cadena de la medicina tradicional
                    y herbolaria, en aras de contribuir en la gestión de políticas públicas que conserven y difundan el
                    conocimiento.

                </p>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="res">
            <h1>Valores</h1>
        </div>
        <div class="img">
            <img src="/assets/valores.jpg" alt="">
            <div class="content">
                <p>
                    -Profesionalismo
                    <br>
                    -Honestidad e Integridad
                    <br>
                    -Gestión Responsable
                    <br>
                    -Protección del Ambiente
                    <br>
                    -Observancia de Buenas Prácticas Comerciales y de Manufactura
                </p>

            </div>
        </div>
    </div>
</div>