<div class="formulario">
    <div class="gracias">
        <div class="titulo">
            <h1>Hola,</h1>
        </div>
        <div class="texto">
            <p>Por favor, llenar todos los campos que se encuentran en el formulario,
                de lo contrario no podremos poneros en contacto contigo.
            </p>
            <h2>¡Gracias!</h2>
        </div>
    </div>
    <div class="solicitud">
        <form action="https://formspree.io/f/meqywdzn" method="POST" id="form">

            <label class="nom" id="nombre">
                Nombre(s):
            </label><br>
            <input type="text" name="nombre" placeholder="Ingresa tu nombre">
            <br>
            <label>
                Apellidos:
            </label><br>
            <input type="text" name="apellidos" placeholder="Ingresa tus apellidos">
            <br>
            <label>
                Teléfono:
            </label><br>
            <input type="tel" name="telefono" placeholder="Teléfono">
            <br>
            <label>
                Correo:
            </label><br>
            <input type="email" name="email" placeholder="Correo">
            <br>
            <label class="txtA">
                ¿Por qué te interesa ser parte de nuestra Federación?
            </label><br>
            <textarea name="message" placeholder="Descipción"></textarea>
            <br>
            <!-- your other form fields go here -->
            <div class="btn">
                <button type="submit"><i class="fa-solid fa-paper-plane"></i>Enviar</button>
            </div>
        </form>
    </div>
</div>