<footer class="final">
    <div class="cont">

        <div class="loFi">
            <img src="/assets/logoF.png" alt="">
        </div>
        
        <div class="infof">
            <div class="infoE">
                <h3>Sobre Nosotros</h3>
                <span>
                    Dirección
                    Calle Peredo #20 Barrio San Francisco C.P 62930, Jonacatepec de Leandro Valle, Mor.
                    Teléfonos:
                    735-189-1622 / 735-206-6308
                </span>
            </div>
        </div>
        
        <div class="redS">
            <h3>Siguenos</h3>
            <div class="ex">
                <a href="https://www.facebook.com/federacionnacionaldelaindustriaherbolaria/?locale=es_LA" target="_blank"><i class="fa-brands fa-facebook" style="color: #ffffff;"></i>   </a>
                <a href="https://www.youtube.com/channel/UCrGhNQpB9RnauoAQeKEdDjA" target="_blank"><i class="fa-brands fa-youtube" style="color: #ffffff;"></i></a>
                <a href="https://wa.me/7352066308" (click)="confirmWhatsApp($event)" target="_blank"><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i></a>
            </div>
        </div>
    </div>
<!--         
    <p class="email">
        Escríbenos a:
        contacto&#64;federacionnacionalherbolaria.org
    </p> -->
</footer>