<footer class="final">
    <div class="cont">

        <div class="loFi">
            <img src="/assets/logoF.png" alt="">
        </div>
        
        <div class="infof">
            <div class="infoE">
                <h3>Sobre Nosotros</h3>
                <span>
                    Dirección
                    Calle Peredo #20 Barrio San Francisco C.P 62930, Jonacatepec de Leandro Valle, Mor.
                    Teléfonos:
                    735-189-1622 / 735-206-6308
                </span>
            </div>
        </div>
        
        <div class="redS">
            <h3>Siguenos</h3>
            <div class="ex">
                <a href="#"><img src="/assets/RS/facebook.png" alt="" class="class"></a>
                <a href="#"><img src="/assets/RS/youtube.png" alt="" class="class"></a>
                <a href="#"><img src="/assets/RS/whatsapp.png" alt="" class="class"></a>
            </div>
        </div>
    </div>
        
    <p class="email">
        Escríbenos a:
        contacto&#64;federacionnacionalherbolaria.org
    </p>
</footer>