footer{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: #007c65;
}
/* .email {
    width: auto;
    text-align: right;
    color: red;
    padding-top: 2rem;
    line-height: 2.5;
} */

.cont {
    height: 400px;
    width: auto;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    margin: 3rem;
}

.loFi {
    width: 190px;
    height: 70px;
}

.loFi img {
    width: auto;
    height: 100%;
    position: relative;
}
.infof{
    width: 700px;
    height: 70px;
}
.infoE {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 700px;
    height: 70px;
}

.infoE h3 {
    font-size: 15px;
    padding-bottom: 1rem;
    color: #fff;
}


.infoE span {
    font-size: 14px;
    color: #fff;
}


/*? EStilos para las redes sociales*/
.redS {
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ex {
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    
}

.redS h3 {
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.redS a{
    display: flex;
    width: 30px;
    height: 30px;
}

.fa-brands:hover {
    transition: all .3s;
    filter: drop-shadow(0 0 10px rgba(173, 255, 47, 1));
}

.final p {
    color: #57392E;
    font-size: 15px;
}

@media screen and (min-width: 76px) and (max-width: 1023px){
    /* footer{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #007c65;
    }
    .loFi {
        width: 190px;
        height: 50px;
    }
     */


}