footer{
    height: 10em;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #388E3C;
}


.cont {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3rem;
}

.loFi {
    width: 15em;
    height: 4.3em;
    margin: 1rem 1rem;
}

.loFi img {
    width: auto;
    height: 100%;
    position: relative;
}
.infof{
    width: 700px;
    height: 70px;
}
.infoE {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
}

.infoE h3 {
    font-size: 15px;
    padding-bottom: 1rem;
    color: #fff;
}


.infoE span {
    font-size: 14px;
    color: #fff;
}


/*? EStilos para las redes sociales*/
.redS {
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ex {
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    
}

.redS h3 {
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.redS a{
    display: flex;
    width: 30px;
    height: 30px;
}

.fa-brands:hover {
    transition: all .3s;
    filter: drop-shadow(0 0 10px rgba(173, 255, 47, 1));
}

.final p {
    color: #57392E;
    font-size: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1024px){

    footer{
        height: 60%;
        width: 100%;
        /* background-color: sienna; */
    }
    .cont{
        width: 100%;
        height: auto;
        display: flex;
        /* flex-direction: column; */
        /* background: palegoldenrod; */
        margin: initial;
        padding: initial;

    }
    .loFi {
        width: auto;
        height: 50px;

    }
    .infof{
        width: 100%;
        height: 70px;
        /* background-color: powderblue; */
    }

    .infof span{
        text-align: center;
    }
}

@media screen and (max-width: 768px) and (min-width: 320px) {

    footer{
        height: 100%;
        width: auto;
    }

    .cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .loFi{
        display: none;
        /* width: auto;
        margin: initial; */
    }

    .infof{
        width: 100%;
        height: 100%;
        margin: 1rem;
        padding: 0 3rem;
        hyphens: manual;
    }
    .redS{
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
    .ex{
        width: 100%;
        height: 100%;
    }
}