.services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    text-align: center;
    padding-bottom: 2rem;
}
.title h2{
    color: #009c7a;
}
.title h3{
    color: #57392e;
}
.title{
    padding: 2rem 0;
}
.asesorias{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    background-color: gray;
}

.asesorias h2{
    color: #009c7a;
}
.asesorias p{
    color: #57392e;
}

.servicio {
    height: 100%;
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.servicio:hover {
    transform: translateY(-5px);
}

.servicio img {
    width: 100%;
    height: auto;
}
.contenido1{
    margin-top:  2rem;
    height: 100%;
    width: auto;
}

.list1{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #57392e;
    line-height: 23px;
    padding-top: 1rem;
}
.contenido4{
    margin-top:  2rem;
    height: 100%;
    width: auto;
}

.list4{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #57392e;
    line-height: 23px;
    padding: 1rem 0 2rem 0;
}

/*? estilos para beneficios*/
.beneficios{
    display: flex;
    justify-content: center;
    height: 700px;
    width: auto;
    overflow: hidden;
    padding: 5rem
}
.ben img{
    height: 670px;
    width: 480px;
    border: none;
    display: flex;
    border-radius: 12px;
}
.titulo{
    text-align: center;
    color: #57392e;
}
.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 3rem;
}
.b{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: 90px;
    border-radius: 12px;
    margin: 1rem ;
    transition: transform 0.3s ease;
}
.b b{
    color: #009c7a;
}
.b p{
    color: #57392e;
    font-size: 18px;
}
.b img{
    width: auto;
    height: 40px;
    width: 50px;
    padding-left: .5rem;
}

.b:hover{
    transform: translateX(-5px);
    background-color: #a4f6d8;
    transition: all .4s;
}
.in{
    padding-left: 1rem;
}

/*? Estilos para la clase eventos*/

.eventos{
    width: auto;
    height: auto;
    padding: 2rem 0 2rem 0;
    text-align: center;
    color: #57392e;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.conten img{
    filter: saturate(100%);
}
.conten{
    height: 427;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #dfd6d6;
}
.contenedores{
    width: auto;
    height: 427px;
}

.contenedor h3{
    color: #009c7a;
    text-align: center;
    font-weight: bolder;
    padding: 2rem ;
}
.contenedor p{
    color:#57392e;
    font-size: 18px;
    padding: 1rem 3rem;
}