body {
    background-color: #f1f1f1;

}

.container {
    height: auto;
    width: 100%;
}

.title {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title h3 {
    text-align: center;
    color: #57392E;
}

.cards {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem 0;
}

.cards h4 {
    text-align: center;
}

.card1 {
    width: 20%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 20px 2px rgb(216, 216, 216);
    position: relative;
    margin: 0 1rem;
    background-color: #fff;
    transition: all .2s ease-in;
}


.card1:hover {
    transform: translateY(-10px);
    background-color: #c1f85e;
}

.cuerpo {
    width: auto;
    height: 100%;
}

.textEsp {
    width: auto;
    height: 100%;
    border-end-end-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 15px;
    padding: 1rem 1rem 12rem 3rem;
}
.textEsp2 {
    width: auto;
    height: 100%;
    border-end-end-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 15px;
    padding: 1rem 1rem 13rem 3rem;
}

.imagen {
    width: 100%;
    height: 100%;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
}

img {
    width: 95%;
}

.line {
    width: 80%;
    margin: 0 2rem;
    border-bottom: 1px solid #6f7f68;
}

.text {
    width: auto;
    height: 100%;
    border-end-end-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 15px;
}

.text ol {
    padding: 1rem 3rem;
}

.text ul {
    padding: 1rem 3rem;
}

.titulo {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}

.beneficios {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4rem;
}

.contBeneficios {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: paleturquoise; */
}

.beneficio1 {
    width: auto;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: seagreen; */
    margin-bottom: 1rem;
}

.b {
    width: 4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #388E3C;

    /* background-color: peru; */
}

b {
    color: #388E3C;

}

.in {
    width: 100%;
    height: auto;
}

.beneficio2 {
    width: auto;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: seagreen; */
    margin-bottom: 1rem;

}

.beneficio3 {
    width: auto;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: seagreen; */
    margin-bottom: 1rem;

}

.beneficio4 {
    width: auto;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: seagreen; */
    margin-bottom: 1rem;

}

.beneficio5 {
    width: auto;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: seagreen; */
}

.ben {
    height: 100%;
    width: 40%;

    /* background-color: papayawhip; */
}


.ben img {
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
}

.beneficio1:hover,
.beneficio2:hover,
.beneficio3:hover,
.beneficio4:hover,
.beneficio5:hover {
    background-color: #c1f85e;
    border-radius: 1rem;
}

.services0 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    text-align: center;
    padding-bottom: 2rem;
}

.title0 {
    padding: 2rem 0;
}

.asesorias0 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    width: 100%;
}


.asesorias0 p {
    color: #57392e;
}

.servicio0 {
    height: 480px;
    width: 400px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


.servicio0:hover {
    transform: translateY(-5px);
    background-color: #c1f85e;
}

.servicio0 img {
    width: 100%;
    height: auto;
}

.servicio0 .contenido0 {
    padding: 20px;
}

.eventos {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.conten {
    height: 427;
    width: 100%;
}

.contenedores {
    width: auto;
    height: 427px;
}

.tt h3 {
    padding: 1rem 0;
}

.limon {
    height: 50%;
    width: 100%;
}

.limon img {
    height: 20rem;
    width: 40rem;
}



@media screen and (min-width: 768px) and (max-width:1024px) {
    .container {
        height: 100%;
        width: 100%;
    }

    .cards {
        padding: initial;
    }

    .card1 {
        width: 45%;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 5px 20px 2px rgb(216, 216, 216);
        position: relative;
        margin: 1rem 1rem 0 1rem;
        background-color: #fff;
        transition: all .2s ease-in;
    }

    /*?------Bemeficios-------*/
    .beneficios {
        margin: initial;
    }

    .contBeneficios {
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 1rem 0;
    }

    .ben {
        height: 100%;
        width: 35%;
    }

    .ben img {
        width: 100%;
        height: 100%;
    }

    .beneficio1:hover,
    .beneficio2:hover,
    .beneficio3:hover,
    .beneficio4:hover,
    .beneficio5:hover {
        background-color: initial;
    }

    /*!-------capaciotaciones--------*/
    .services0{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .servicio0 {
        height: 70%;
        width: 400px;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }
    .contenido0{
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /*?-------Eventos-------------*/
    .eventos{
        width: 100%;
        height: 100%;
        margin-top: initial;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
   
}