<main class="services">
    <div class="title">
        <h2>Asesorias y Gestoria</h2>
        <h3>Asesoría y Gestoría en Trámites de Regulación y Propiedad Intelectual</h3>
    </div>
    <div class="asesorias">
        <section class="servicio">
            <img src="assets/remediosH.jpg" alt="Servicio 1">

            <div class="contenido1">
                <h2>REMEDIOS HERBOLARIOS</h2>
                <div class="list1">
                    <ol>
                        <li>Aviso De Funcionamiento</li>
                        <li>Licencia Sanitaria</li>
                        <li>Pre-revisión de Dossier</li>
                        <li>Revisión de etiquetado</li>
                        <li>Revisión de publicidad</li>
                        <li>Cumplimiento de las Prácticas de Higiene.</li>
                        <li>Destrucción de materia prima.</li>
                        <li>Destrucción de producto asegurado.</li>
                    </ol>
                </div>
            </div>

            <div class="contenido1">
                <h2>SUPLEMENTOS ALIMENTICIOS</h2>
                <div class="list1">
                    <ol>
                        <li>Aviso de funcionamiento.</li>
                        <li>Análisis de fórmula cuali-cuantitativa.</li>
                        <li>Revisión de etiquetado.</li>
                        <li>Certificado de Libre venta.</li>
                        <li>Cumplimiento de las Prácticas de Higiene.</li>
                        <li>Destrucción de materia prima.</li>
                        <li>Destrucción de producto asegurado.</li>
                    </ol>
                </div>
            </div>

            <div class="contenido1">
                <h2>ALIMENTOS Y BEBIDAS NO ALCOHÓLICAS</h2>
                <div class="list1">
                    <ol>
                        <li>Aviso De Funcionamiento</li>
                        <li>Licencia Sanitaria</li>
                        <li>Pre-revisión de Dossier</li>
                        <li>Revisión de etiquetado</li>
                        <li>Revisión de publicidad</li>
                        <li>Cumplimiento de las Prácticas de Higiene.</li>
                        <li>Destrucción de materia prima.</li>
                        <li>Destrucción de producto asegurado.</li>
                    </ol>
                </div>
            </div>

            <div class="contenido4">
                <h2>COSMÉTICOS</h2>
                <div class="list4">
                    <ol>
                        <li>Aviso de funcionamiento</li>
                        <li>Análisis de Formula cuali-cuantitativa</li>
                        <li>Revisión de etiquetado.</li>
                        <li>Certificado de libre venta. </li>
                        <li>Destrucción de materia prima.</li>
                        <li>Destrucción de producto asegurado.</li>
                    </ol>
                </div>
            </div>
        </section>

        <section class="servicio1">
            <img src="assets/obrasL.jpg" alt="Servicio 2">
            <div class="contenido1">
                <h2>Instituto Mexicano de la Propiedad Industrial</h2>
                <div class="list1">
                    <ul>
                        <li>Registro de Marcas.</li>
                        <li>Registro de Patentes.</li>
                    </ul>
                </div>
            </div>
            <div class="contenido1">
                <h2>Instituto Nacional del Derecho de autor</h2>
                <div class="list1">
                    <ul>
                        <li>Registro de Obra.</li>
                    </ul>
                </div>
            </div>
            <div class="contenido1">
                <h2>Las obras literarias o artísticas</h2>
                <div class="list1">
                    <ol type="a">
                        <li>Literaria</li>
                        <li>Musical con letra</li>
                        <li>Musical sin letra</li>
                        <li>Dramática</li>
                        <li>Danza</li>
                        <li>Pictórica</li>
                        <li>Dibujo</li>
                        <li>Escultórica</li>
                        <li>Carácter plástico</li>
                        <li>Caricatura</li>
                        <li>Historieta</li>
                        <li>Arquitectónica</li>
                        <li>Cinematográfica</li>
                        <li>Audiovisual</li>
                        <li>Programas de radio</li>
                        <li>Programa de televisión</li>
                        <li>Programas de cómputo</li>
                        <li>Fotográfica</li>
                        <li>Arte aplicado</li>
                        <li>De compilación Base de datos</li>
                    </ol>
                </div>
            </div>
            <div class="contenido4">
                <h2>Derechos conexos</h2>
                <div class="list5">
                    <ol type="a">
                        <li>Fonograma</li>
                        <li>Videograma</li>
                        <li>Edición de libro</li>
                    </ol>
                </div>
            </div>
        </section>
    </div>
</main>
<div class="beneficios">
    <div class="info">
        <div class="titulo">
            <h2>Beneficios de utilizar servicios de asesoría y
                gestoría en <br>trámites de regulación y propiedad
                intelectual:</h2>
        </div>
        <div class="b">
            <img src="assets/idea.png" alt="">
            <div class="in">
                <b>Reducción del riesgo</b>
                <p>Los consultores con experiencia pueden ayudar a
                    las empresas a identificar y reducir riesgos legales
                    y proteger su propiedad intelectual.</p>
            </div>
        </div>
        <div class="b">
            <img src="assets/idea.png" alt="">
            <div class="in">
                <b>Ahorro de tiempo y recursos</b>
                <p>Los servicios de asesoría y gestión permiten a
                    las empresas enfocarse en lo principal mientras
                    expertos manejan regulaciones y propiedad intelectual.</p>
            </div>
        </div>
        <div class="b">
            <img src="assets/idea.png" alt="">
            <div class="in">
                <b>Mayor eficiencia</b>
                <p>Los consultores y gestores pueden acelerar
                    la comercialización al optimizar los procesos de
                    presentación y aprobación empresarial.</p>
            </div>
        </div>
        <div class="b">
            <img src="assets/idea.png" alt="">
            <div class="in">
                <b>Protección de la propiedad intelectual</b>
                <p>Los servicios de asesoría y gestoría protegen
                    los activos de propiedad intelectual de las empresas,
                    como marcas, patentes y secretos comerciales.</p>
            </div>
        </div>
        <div class="b">
            <img src="assets/idea.png" alt="">
            <div class="in">
                <b>Ventaja competitiva</b>
                <p>Las empresas que cumplen con las regulaciones y
                    protegen su propiedad intelectual pueden obtener una
                    ventaja competitiva en el mercado.</p>
            </div>
        </div>
    </div>
    <div class="ben">
        <img src="assets/beneficios.jpg" alt="Foto de Neha Deshmukh en Unsplash">
    </div>
</div>

<!--Ahora va otro apartado-->
<main class="services0">
    <div class="title0">
        <h2>Capacitación y certificacioón</h2>
    </div>
    <div class="asesorias0">
        <section class="servicio0">
            <img src="assets/regulatoria.jpg" alt="Servicio 1">
            <div class="contenido0">
                <h2>Certificación Regulatoria</h2>
                <p>Proximamente</p>
            </div>
        </section>

        <section class="servicio0">
            <img src="assets/tecnica.jpg" alt="Servicio 2">
            <div class="contenido0">
                <h2>Capacitación técnica </h2>
                <p>Proximamente</p>
            </div>
        </section>

        <section class="servicio0">
            <img src="assets/certificaciones.jpg" alt="Servicio 3">
            <div class="contenido0">
                <h2>Certificaciones</h2>
                <p>Proximamente.</p>
            </div>
        </section>
    </div>
</main>
<!--Aquí va a ir otro apartado-->

<div class="eventos">
    <h2>Eventos y conferencias</h2>
    <div class="conten">
        <img src="assets/eventos.png" alt="">
        <div class="contenedores">
            <div class="contenedor">
                <div class="tt">
                    <h3>REUNION SOCIOS 2024</h3>
                </div>
                <p>Cita: WTC CDMX dia 8 de mayo de 2024,
                    de 16:00 a 20:00 horas, salón madero WTC</p>
            </div>
            <div class="contenedor">
                <div class="tt">
                    <h3>EXPO-FERIA HERBOLARIA 2024</h3>
                </div>
                <p>Del 15 al 17 de noviembre de 2024,
                    de 10:00 a.m. – 8:00 pm Lugar: WTC CDMX,
                </p>
            </div>
        </div>
    </div>
</div>