body{
    background-color: #f1f1f1;
    
}
.informacion {
    height: 350px;
    width: auto;
    /* background-color: #cdd1c9; */
}

.recursos {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 2rem; */
}

.rec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 60%;
}

.rec h3 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 20px;
}

.foto {
    height: 20rem;
    width: auto;
    display: flex;
    justify-content: center;
}

.foto img {
    width: auto;
    height: auto;
}

.rec p {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

/*! estilos para el body*/
.container {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
}
.recur{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.mn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 80%;
    margin: 0 2rem;
}



.leyes {
    /* border: 5px solid #467b83; */
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(87, 57, 46, 0.48);
    height: 450px;
    width: 100%;
    margin: 2rem 0;
    line-height: 35px;
    background: white;
}

.ley{
    width: auto;
    height: 50%;
    position: relative;
}
.ley h2 {
    padding: 1rem 0 0 3rem;
}

.leyes ul {
    padding: 0 3rem;
}
.hero{
    /* background-color: peru; */
    height: 100%;
    width: 100%;
}

.hero img{
    height: 100%;
    width: 50%;
    right: -90px;
    margin-top: 5rem;
    position: absolute;
}
.reglas{
    width: auto;
    height: 50%;
}
.reglas h2 {
    padding: 1rem 0 0 3rem;
}

.reglas ul {
    padding: 0 3rem;
}
/*
.leyes b {
    color: #007c65;
} */

.productosH {
    /* border: 5px solid #467b83; */
    border-radius: 12px;
    height: auto;
    width: auto;
    margin: 2rem 0;
    padding-bottom: 2rem;
    line-height: 35px;
    box-shadow: 0 5px 15px rgba(87, 57, 46, 0.48);
    background: white;  
}

.productosH h2 {
    padding: 1rem 0 0 3rem;
}

.productosH ul {
    padding: 0 3rem;
}

/* .productosH b {
    color: #007c65;
} */

.t {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}


.t p {
    width: 95%;
    height: auto;
    font-size: 18px;
    /* padding: 2rem 2rem; */
    text-align: center;
}
.beneficios {
    /* border: 5px solid #467b83; */
    border-radius: 12px;
    height: auto;
    width: 100%;
    line-height: 35px;
    padding-bottom: 2rem;
    box-shadow: 0 5px 15px rgba(87, 57, 46, 0.48);
    background: white;


}

.beneficios h2 {
    font-size: 18px;
    padding: 2rem 0 0 3rem;
}

.beneficios ul {
    font-size: 16px;
    padding: 0 3rem;
    color: #57392e;
}

.beneficios b {
    font-size: 18px;
    color: #388E3C;
}

/* .tph {
    padding: 2rem 0 2rem 0;
} */



.resp {
    height: 30vh;
    width: auto;
    margin-top: 1rem;
}

.resp h1 {
    color: #007c65;
    text-align: center;
}

.resp p {
    width: 100%;
    line-height: 22px;
    text-align: center;
    color: #57392e;
    font-size: 18px;
    padding-top: 1rem ;
}

/*? Todos los estilos para el aside*/

.aside{
    width: 30%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.conte{
    position: absolute;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(87, 57, 46, 0.48);
    width: 70%;
    padding: 1rem 1rem;
    background-color: #fff;
    /* background-color: #c1f85e; */
}
.alertas{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    /* background-color: palegoldenrod; */
    /* justify-content: center; */
}
.tl1{
    width: auto;
    height: 10%;
    /* color: #045043; */
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.txt1{
    color: #57392e;
    hyphens: manual;
    padding: 0 .5rem;
    font-size: 16px;
}


/*?Articulos*/

.articles{
    width: auto;
    height: auto;
}

.investigacion{
    width: auto;
    height: 10%;
    margin-bottom: 3rem;
}

.tl2{
    width: auto;
    height: 10%;
    /* text-align: center; */
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lis ul{
    hyphens: manual;
    padding: 0 1rem;
    font-size: 16px;
    text-decoration: none;
    /* color: #57392e; */

}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #0abf94;
    color: white;
    margin: 2rem 0;
    padding: 12px 24px;
    border: none;
    font-weight: bolder;
    cursor: pointer;
    font-size: 15px;
    outline: none;
    position: relative;
    overflow: hidden;

    transition: all 0.3s;
    transition: all 0.3s ease-in;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 1;
    transition: all 0.3s;
}

button:hover {
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    background-color: #045043;
    transition: all 0.3s ease-out;
}

button:hover::before {
    transform: scale(3);
    opacity: 0;
}

/*! Libros*/
.libros{
    width: auto;
    height: auto;
    margin-bottom: 3rem;

}
.tl3{
    width: auto;
    height: 10%;
    font-size: 18px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}
.libro1{
    width: auto;
    height: auto;
}
.tb{
    /* padding: 0 0 0 1rem; */
    color: #57392e;
}
.infoLib{
    width: auto;
    color: #57392e;

    /* padding: 0 .5rem; */
    margin-bottom: 1rem;
}

.fondo{
    height: 100%;
    width: 100%;
    background-color: saddlebrown;
    margin-top: 3rem;
}
.fondo img{
    width: 100%;
    position: absolute;
}
/*? Sitio de interes*/
.interes{
    width: auto;
    height: auto;
    margin-bottom: 3rem;

}
.sit{
    width: auto;
    height: 10%;
    /* color: #045043; */
    font-size: 18px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}
.in ul{
    width: auto;
    padding: 0 1rem;
    margin-bottom: 1rem;
    color: #57392e;
    /* text-decoration: none; */
}

.resp p{
    font-weight: 600;
    color: #795548;
}

.resp h1{
    color: #388E3C;

}
/*? A1qui va el responsive para tabletas*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .informacion {
        height: 350px;
        width: auto;
    }

    .recursos {
        height: 100%;
        width: auto;
        padding: 0 4rem;
        background-color: #045043;
        margin-top: initial;
    }

    .rec {
        width: auto;
        color: #fff;
    }

    .rec h3 {
        color: #fff;
    }

    .foto {
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
        padding: initial;
    }

    .foto img {
        width: auto;
        height: 20vh;
    }

    /*?Estilos para los contenedores*/

    .container {
        width: auto;
    }

    .mn {
        width: max-content;
        height: auto;
        margin-top: 2rem;
    }

    .mn * h1 {
        text-align: center;
    }

    .leyes,
    .productosH,
    .beneficios {
        border-radius: 12px;
        box-shadow: 0 5px 15px rgba(87, 57, 46, 0.48);
        height: 100%;
        /* width: auto; */
        hyphens: auto;
    }

    .leyes,
    .productosH,
    .beneficios h2 {
        padding: initial;
    }

    .leyes,
    .productosH,
    .beneficios ul {
        margin: 0 0.5rem;
    }

    .leyes b {
        color: #007c65;
    }

    .t {
        height: 200px;
        width: auto;
    }

    .t p {
        padding: 1rem 1rem;
        text-align: center;
    }

    .aside {
        height: 60%;
        width: 40%;
        margin: 50rem 0;
        /* margin: initial;*/
        padding: initial;
    }

    .conte {
        height: 100%;
        width: min-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* .alertas{
        background-color: aliceblue;
        width: 100%;
        height: auto;
    }
    .txt1{
        padding: 0 .5rem;
        hyphens: manual;
    }
    .articles{
        display: flex;
        flex-direction: column;

        background-color: red;
    }

    .investigacion{
        width: auto;
        height: 100%;
        display: initial;
        background-color: silver;
    }*/
    .txt2 {
        width: 100%;
        position: lative;
    }

    .conte::before {
        background-image: none;
    }

    .conte * {
        height: auto;
        width: auto;
        hyphens: auto;
        text-align: center;
        font-size: 18px;
    }

    button {
        background-color: #045043;
        color: #fff;
    }

    button:hover {
        background-color: #edf0f1;
        color: #045043;
    }

    .resp {
        height: 100%;
        width: auto;
        margin: 2rem 0;
        text-align: center;
        hyphens: auto;
        padding: initial;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {

    .informacion {
        width: 100%;
        height: 100%;
    }

    .recursos {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .rec {
        width: auto;
        height: 50%;
    }

    .rec h3 {
        font-size: 15px;
        height: auto;
        padding: 0 .5rem;
    }

    .rec p {
        margin-top: 2rem;
        font-size: 13px;
        padding: 0 2rem;
    }

    .foto {
        width: auto;
        height: 50%;
        padding: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .foto img {
        height: 70%;
        width: 70%;
    }

    .container {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mn {
        width: auto;
        height: auto;
        margin: initial;
    }

    .mn h1 {
        font-size: 20px;
    }

    .leyes {
        height: auto;
        width: 90%;
    }

    .leyes h2 {
        padding: initial;
        text-align: center;
        font-size: 20px;
    }

    .leyes ul {
        font-size: 13px;
        padding: 1rem 1.5rem;
    }

    .tph h1 {
        text-align: center;
    }

    .productosH {
        height: auto;
        width: 90%;
        margin: initial;
    }

    .productosH h2 {
        padding: 1rem 0.3rem;
        text-align: center;
        font-size: 20px;
    }

    .productosH ul {
        font-size: 13px;
        padding: 0 1.5rem;
        hyphens: manual;
    }

    .t {
        width: auto;
        height: 20vh;
    }

    .t h1 {
        font-size: 20px;
        margin: 1rem 0;
    }

    .t p {
        font-size: 13px;
        text-align: center;
        padding: 0.5rem 0.5rem;
    }

    .beneficios {
        height: auto;
        width: 90%;
        margin: initial;
    }

    .beneficios b {
        padding: 1rem 0.3rem;
        text-align: center;
        font-size: 15px;
    }

    .beneficios ul {
        font-size: 13px;
        padding: 0 1.5rem;
        hyphens: manual;
    }

    .beneficios li {
        padding: 0.5rem 0;
    }

    .aside {
        height: 70%;
        width: 100%;
        padding: initial;
        margin-top: 3rem;
    }

    .conte {
        width: 100%;
        height: auto;
    }

    .alertas {
        width: auto;
        height: auto;
    }

    .tl1 {
        width: 100%;
        font-size: 20px;
        padding: 0.5rem 0;
        text-align: center;
    }

    .txt1 {
        font-size: 13px;
        padding: 1rem;
        hyphens: manual;
    }

    button {
        border-radius: 50px;
    }

    .articles {
        height: auto;
        width: auto;
    }

    .investigacion {
        width: 100%;
        height: 180px;
    }

    .tl2 {
        width: 100%;
        font-size: 20px;
        padding: 0.5rem 0;
        text-align: center;
    }

    .txt2 {
        font-size: 13px;
        padding: 1rem;
    }

    .txt2 a {
        line-height: 1.5rem;
    }

    .none {
        display: none;
    }

    .libros {
        width: auto;
        height: auto;
    }

    .tl3 {
        width: 100%;
        font-size: 20px;
        padding: 0.5rem 0;
        text-align: center;
    }

    .txt3 {
        padding: 1rem;
        height: auto;
        width: auto;
    }

    .txt3 b {
        font-size: 18px;
    }

    .txt3 {
        font-size: 16px;
    }

    .conte::before {
        display: none;
        background-image: none;
    }

    .interes {
        width: 100%;
        height: 150%;
        /* padding: initial;
        margin: initial; */
    }

    .tl4 {
        width: 100%;
        font-size: 20px;
        padding: 0.5rem 0;
        text-align: center;
    }

    .in {
        width: auto;
        height: auto;
    }

    .txt4 {
        font-size: 13px;
        padding: 1rem;
        margin: initial;
        width: auto;
        text-align: center;
    }

    .resp {
        width: auto;
        height: auto;
        margin: initial;
    }

    .resp h1 {
        width: 100%;
        font-size: 20px;
        padding: 0.5rem 0;
        text-align: center;
        margin: initial;
    }

    .resp p {
        padding: initial;
        font-size: 13px;
        padding: 1rem;
        text-align: initial;
    }

    .like {
        width: auto;
    }

    .clam {
        width: 100%;
        font-size: 13px;
        text-align: center;
    }
}