<div id="top" class="informacion">
    <div class="recursos">
        <div class="rec">
            <h3>
                Marco Normativo para Productos Herbolarios,
                Suplementos Alimenticios, Alimentos y Cosméticos en México
            </h3>
            <p>
                Este apartado proporciona información sobre las leyes, reglamentos
                y normas que rigen la producción, etiquetado, publicidad y
                comercialización de productos herbolarios, suplementos alimenticios,
                alimentos y cosméticos en México. El cumplimiento de este
                marco normativo es esencial para garantizar la seguridad y eficacia
                de estos productos, así como para proteger la salud pública.
            </p>
        </div>
        <div class="foto">
            <img src="assets/marcoNor.png" alt="">
        </div>
    </div>
</div>

<div class="container">
    <div class="mn">
        <h1>Marco Normativo</h1>
        <div class="leyes">
            <h2>Leyes</h2>
            <ul>
                <li><a href="http://www.salud.gob.mx/unidades/cdi/legis/lgs/LEY_GENERAL_DE_SALUD.pdf "
                        target="_blank">Ley General de Salud.</a>
                </li>

                <li> <a href="https://www.diputados.gob.mx/LeyesBiblio/pdf/LFPED.pdf" target="_blank">Ley Federal Para
                        Prevenir y Eliminar la Discriminación.</a></li>

                <li><a href="https://www.gob.mx/impi/documentos/ley-federal-de-proteccion-a-la-propiedad-industrial-274304 "
                        target="_blank"> Ley de Propiedad Industrial.</a>
                </li>

                <li><a href="https://www.profeco.gob.mx/juridico/pdf/l_lfpc_ultimo_camdip.pdf" target="_blank">
                        Ley Federal de Proteccción al Consumidor.</a>
                </li>
            </ul>

            <h2>Reglamentos</h2>
            <ul>
                <li><a href="http://www.salud.gob.mx/unidades/cdi/nom/compi/ris.html" target="_blank">
                        Reglamento de Insumos para la Salud.</a>
                </li>

                <li><a href="http://www.salud.gob.mx/unidades/cdi/pot/fxiv/Reglamento/r69.pdf"
                        target="_blank">Reglamento de la Ley General de Salud en Materia de Publicidad.</a>
                </li>

                <li><a href="http://www.salud.gob.mx/unidades/cdi/nom/compi/rcsps.html " target="_blank">
                        Reglamento de Control Sanitario de Productos y Servicios.</a>
                </li>

                <li><a href="https://www.diputados.gob.mx/LeyesBiblio/regley/Reg_LFPC_191219.pdf"
                        target="_blank">Reglamento de la Ley Federal de Protección al Consumidor.</a></li>

            </ul>
        </div>
        <div class="tph">
            <h1>Normas Oficiales Mexicanas y Acuerdos</h1>
        </div>
        <div class="productosH">
            <h2>Remedios Herbolarios</h2>
            <ul>
                <li> <a href="https://dof.gob.mx/nota_detalle.php?codigo=5240404&fecha=22/03/2012#gsc.tab=0"
                        target="_blank">
                        NORMA Oficial Mexicana NOM-248-SSA1-2011, Buenas prácticas de fabricación para establecimientos
                        dedicados a la fabricación de remedios herbolarios.
                    </a>
                </li>
                <li>
                    <a href="https://www.dof.gob.mx/nota_detalle.php?codigo=5278341&fecha=21/11/2012#gsc.tab=0"
                        target="_blank">
                        NORMA Oficial Mexicana NOM-072-SSA1-2012, Etiquetado de medicamentos y de remedios herbolarios.
                    </a>
                </li>

            </ul>

            <h2>Suplementos Alimenticios</h2>
            <ul>
                <li>
                    <a href="https://www.gob.mx/cms/uploads/attachment/file/168389/FOLLETO_ALIMENTOS_NOM-251.compressed.pdf"
                        target="_blank">
                        NORMA Oficial Mexicana NOM-251-SSA1-2009, Prácticas de higiene para el proceso de alimentos,
                        bebidas o suplementos alimenticios.
                    </a>
                </li>
                <li>
                    <a href="https://www.gob.mx/cms/uploads/attachment/file/726572/032822_Gu_a_SuplementosAlimenticios_FINAL_final_V3-1_compressed.pdf"
                        target="_blank">
                        Guía de Etiquetado de Suplementos Alimenticios.
                    </a>
                </li>
                <li>
                    <a href="https://www.dof.gob.mx/nota_detalle.php?codigo=4958062&fecha=15/12/1999#gsc.tab=0"
                        target="_blank">
                        ACUERDO por el que se determinan las plantas prohibidas o permitidas para tés, infusiones y
                        aceites
                        vegetales comestibles.
                    </a>
                </li>
                <li>
                    <a href="https://dof.gob.mx/nota_detalle_popup.php?codigo=5259470" target="_blank">
                    ACUERDO por el que se determinan los aditivos y coadyuvantes en alimentos, bebidas y suplementos
                    alimenticios, su uso y disposiciones sanitarias.
                    </a>
                </li>
                <li>
                    <a href="https://www.farmacopea.org.mx/" target="_blank">Farmacopea Herbolaria de los Estados Unidos
                        Mexicanos</a>
                </li>

            </ul>

            <h2>Alimentos</h2>
            <ul>
                <li>
                    <a href="https://www.dof.gob.mx/normasOficiales/3980/salud/salud.htm" target="_blank">
                        NORMA Oficial Mexicana NOM-251-SSA1-2009, Prácticas de higiene para el proceso de alimentos, bebidas
                        o suplementos alimenticios.
                    </a>
                </li>
                <li>
                    <a href="https://www.dof.gob.mx/normasOficiales/4010/seeco11_C/seeco11_C.htm">
                        NORMA Oficial Mexicana NOM-051-SCFI/SSA1-2010, Especificaciones generales de etiquetado para
                    alimentos y bebidas no alcohólicas preenvasados-Información comercial y sanitaria.
                    </a>
                </li>
                <li>
                    <a href="https://dof.gob.mx/nota_detalle_popup.php?codigo=5259470" target="_blank">
                        ACUERDO por el que se determinan los aditivos y coadyuvantes en alimentos, bebidas y suplementos
                        alimenticios, su uso y disposiciones sanitarias.
                    </a>
                </li>

            </ul>

            <h2>Cosméticos</h2>
            <ul>

                <li>
                    <a href="https://dof.gob.mx/nota_detalle.php?codigo=5657034&fecha=05/07/2022#gsc.tab=0" target="_blank">
                        NORMA Oficial Mexicana NOM-259-SSA1-2022, Productos y servicios. Buenas prácticas de fabricación en
                        productos cosméticos.
                    </a>
                </li>
                <li>
                    <a href="https://dof.gob.mx/nota_detalle.php?codigo=5332692&fecha=14/02/2014#gsc.tab=0" target="_blank">
                        NORMA Oficial Mexicana NOM-141-SSA1/SCFI-2012, Etiquetado para productos cosméticos preenvasados.
                        Etiquetado sanitario y comercial.
                    </a>
                </li>
                <li>
                    <a href="http://www.salud.gob.mx/unidades/cdi/nom/compi/a1512991.html" target="_blank">
                        ACUERDO por el que se determinan las sustancias prohibidas y restringidas en la elaboración de
                        productos de perfumería y belleza.
                    </a>
                </li>
            </ul>
        </div>

        <div class="t">
            <h1>Beneficios de Cumplimiento</h1>
            <p>
                Cumplir con el marco normativo ofrece numerosos beneficios para los productores,
                distribuidores y vendedores de productos herbolarios, suplementos alimenticios,
                alimentos y cosméticos:
            </p>
        </div>
        <div class="beneficios">
            <ul>
                <br>
                <li><b>Protección legal:</b> Reduce el riesgo de sanciones legales y multas.</li>

                <li><b>Confianza del consumidor: </b>
                    Los consumidores confían más en los productos que cumplen <br>con las
                    regulaciones
                </li>

                <li><b>Ventaja competitiva: </b>
                    Las empresas que cumplen con las normas pueden diferenciarse <br>de los
                    competidores que no lo hacen.
                </li>
                <li><b>Acceso al mercado:</b>
                    Algunos mercados, como las farmacias y las tiendas de <br>alimentos
                    saludables, solo venden productos que cumplen con las regulaciones.
                </li>
                <li><b>Innovación responsable: </b>
                    El cumplimiento fomenta la innovación responsable al <br>garantizar que
                    los nuevos productos sean seguros y eficaces.
                </li>
            </ul>
        </div>

    </div>


    <aside class="aside">
        <div class="conte">
            <div class="alertas">
                <p class="tl1">Alertas Sanitarias</p>
                <p class="txt1">
                    Las alertas sanitarias de Suplementos Alimenticios son comunicados
                    de riesgo emitidos por la COFEPRIS sobre productos que representan
                    un peligro para la salud pública, ya sea por su procesamiento,
                    comercialización, distribución o consumo. Estas alertas se
                    emiten tanto para productos fabricados en México como en otros países,
                    y requieren medidas inmediatas y eficaces para proteger
                    a los consumidores mexicanos.
                </p>
                <button (click)="redirectToWebsite()">
                    Consultar alertas
                </button>
            </div>

            <div class="articles">
                <div class="investigacion">

                    <p class="tl2">
                        Articulos de Investigación
                    </p>
                    <p class="txt2">
                        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6316444/" target="_blank">
                            Hierbas medicinales
                        </a>
                        <br>
                        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6368524/" target="_blank">
                            Suplementos alimenticios</a>
                        <br>
                        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6438644" target="_blank">
                            Alimentos en la salud y la enfermedad</a>
                        <br>
                        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6469328/" target="_blank">
                            Cosméticos</a>
                    </p><br><br>
                </div>

                <div class="libros">
                    <p class="tl3">
                        Libros
                    </p>
                    <p class="txt3">
                        <b>Plantas Medicinales</b><br>
                        Una Guía para su Uso Seguro y Eficaz por <br>
                        <a href="https://www.psychologytoday.com/us/contributors/michael-castleman-ma" target="_blank">
                            <i>Michael Castleman</i>
                        </a>
                        <br>
                        <br>
                        <b>Suplementos Alimenticios</b><br>
                        Una Guía para Consumidores por el <br>
                        <a href="https://www.gob.mx/cms/uploads/attachment/file/726572/032822_Gu_a_SuplementosAlimenticios_FINAL_final_V3-1_compressed.pdf"
                            target="_blank">
                            <i>Consejo para la Nutrición Responsable</i>
                        </a>
                        <br>
                        <br>
                        <b>Nutrición y Salud Pública</b><br>
                        Principios, Políticas y Prácticas por <br>
                        <a href="https://openknowledge.fao.org/server/api/core/bitstreams/e6c85124-db5a-4f56-bccc-6b84994cd5a0/content"
                            target="_blank">
                            <i>Lawrence Haddad y Christopher Hawkes</i>
                        </a>
                        <br>
                        <br>
                        <b>Cosmetología</b><br>
                        Ciencia y Práctica por <br>
                        <a href="https://www.amazon.com.mx/Cosmetologia-Estandar-Milady-Standard-Cosmetology/dp/1439059101"
                            target="_blank">
                            <i>Milady</i>
                        </a>
                        <br>
                        <br>
                    </p>
                </div>

                <div class="interes">
                    <div class="sit">
                        <p class="tl4">
                            Sitios de Interes
                        </p>
                    </div>
                    <div class="in">
                        <p class="txt4">
                            <a href="https://www.who.int/" target="_blank" title="Organización Mundial de la Salud">
                                OMS
                            </a>

                            <a href="https://www.fda.gov/" target="_blank"
                                title="Administración de Alimentos y Medicamentos de EE. UU.">
                                FDA</a>

                            <a href="https://www.ncbi.nlm.nih.gov/" target="_blank"
                                title="Instituto Nacional de Salud (NIH)">
                                NLM</a>

                            <a href="https://www.cdc.gov/" target="_blank"
                                title="Centros para el Control y la Prevención de Enfermedades ">
                                CDC</a>

                            <a href="https://www.nih.gov/" target="_blank" title="Instituto Nacional de Salud">
                                NIH</a>

                            <a href="https://www.ema.europa.eu/" target="_blank"
                                title="Agencia Europea de Medicamentos">
                                EMA</a>

                            <a href="https://www.crnusa.org/" target="_blank"
                                title="Consejo para la Nutrición Responsable">
                                CRN</a>

                            <a href="https://www.gob.mx/cofepris" target="_blank"
                                title="Agencia Europea de Medicamentos">
                                COFEPRIS</a>

                            <a href="https://www.gob.mx/impi" target="_blank"
                                title="Consejo para la Nutrición Responsable">
                                IMPI</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>
<div class="resp">
    <h1>Responsabilidad</h1>
    <p>
        La Federación Nacional de la Industria Herbolaria, Medicina Alternativa, Tradicional y Naturista
        A.C. <br>está comprometida con las prácticas éticas y la seguridad pública.
    </p>
    <p>
        PARA CUALQUIER SOLICTUD DE SERVICIO, COMUNIQUESE AL TELEFONO:
        <br>5517909752
        <br>O ENVIE UN CORREO ELECTRONICO A: <br>mquinterog&#64;mail.com
    </p>
</div>