.n {
    height: 350px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.n img {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.nosotros {
    width: 600px;
    height: 350px;
    background-color: #e8e9d8;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.nosotros:hover {
    transform: translateY(-5px);
}

.unirte h2 {
    text-align: center;
    color: #007c65;
    padding: 2rem 0;
}

.unirte span {
    color: #57392e;
}

.info ul {
    text-align: left;
    color: #57392e;
    margin: 0 4rem;
    line-height: 60px;
}

/*? estilos para como afiliarse*/

.a {
    height: 350px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.comoA {
    width: 600px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.afiliarse h2 {
    text-align: center;
    color: #007c65;
    padding: 2rem 0;
}

.afiliarse span {
    color: #57392e;
}

.info p {
    text-align: left;
    color: #57392e;
    margin: 0 4rem;
}

/*? estilos para las cards*/

.encabezado {
    text-align: center;
    margin-bottom: 5rem;
    color: #007c65;
}

.afiliacion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    text-align: center;
    padding-bottom: 2rem;
}

.title h2 {
    color: #007c65;
}

.title {
    padding: 2rem 0 0 0;
}

.afil {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.afil h2 {
    color: #007c65;
}

.servicio {
    height: 75rem;
    width: 400px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.servicio:hover {
    transform: translateY(-5px);
}

.servicio img {
    width: 100%;
    height: auto;
}

.contenido1 {
    margin-top: 2rem;
    height: 100%;
    width: auto;
}

.contenido1 p {
    color: #57392e;
    padding: 1rem 2rem;
    font-size: 18px;
}

.list1 {
    display: flex;
    justify-content: center;
    height: 400px;
    width: auto;
    padding: 4rem 3rem;
}

.list1 li {
    color: #57392e;
    font-weight: 400px;
    font-size: 18px;
    text-align: left;
    padding-bottom: .8rem;

}

.btn {
    height: 45px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

button {
    background-color: #0abf94;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    margin: 2rem;
    transition: all 0.3s;
    transition: all .3s ease-in;
}

/* Efecto de sombra al pasar el cursor */
button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 1;
    transition: all 0.3s;

}

button:hover {
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    background-color: #007c65;
    transition: all .3s ease-out;
}

button:hover::before {

    transform: scale(3);
    /* Agrandamos el efecto de sombra al pasar el cursor */
    opacity: 0;
    /* Hacemos que la sombra desaparezca */
}

/*? EStilos para la responsabilidad de la afiliacion*/

.b {
    height: 700px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/fonfoAfil.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 460px;
}

.respon {
    width: auto;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.respon h2 {
    text-align: center;
    color: #007c65;
}

.af span {
    color: #57392e;
}

.infor p {
    text-align: left;
    color: #57392e;
    text-align: center;
    padding: 2rem 6rem;
    font-size: 18px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .n {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: honeydew;
        align-items: center;
        position: relative;
        margin: initial;
    }

    .nosotros {
        width: 100%;
        height: 100%;
        margin: 10rem 0 0 0;
        border-radius: initial;
        background-color: #fff7ed;
        opacity: .8;
        z-index: 1;
    }

    .nosotros::after {
        position: relative;
        opacity: .1;
    }

    .n img {
        width: 100%;
        height: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .9;
        border-radius: initial;
        mask-image: linear-gradient(#fef6f2 35%, transparent);
        z-index: 1;

    }


    .a{
        width: auto;
        height: auto;
        margin: 2rem 0;
    }
    .afiliarse span{
        color: #fff;
    }
    
    .comoA{
        width: auto;
        height: 350px;
        background-color: #045043;
        display: flex;
        flex-direction: column;
        margin: 3rem 0;
    }
    .comoA h2, .info p{
        text-align: center;
        color: #fff;
    }

    button{
        background-color: #045043;
        color: #fff;
    }
    button:hover{
        background-color:  #e8e9d8;
        color: #045043;
    }

    /*?Planes de afiliacion*/

    .afiliacion{
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .afil {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .servicio {
        height: auto;
        width: auto;
        margin: 3rem 2rem 0 2rem;
    }
    .btn{
        height: 200px;
        width: auto;
    }

    .b{
        height: 100%;
        width: auto;
        position: relative;
        z-index: -1;
    }

    .b::after{
        content: "";
        background-image: url(/assets/fonfoAfil.png);
        background-position: 1rem 15rem;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: .6;
    }

}