<div class="n">
    <div class="nosotros">
        <div class="unirte">
            <h2>Beneficios de unirte a <span>FENIHMATN</span></h2>
        </div>
        <div class="info">
            <ul>
                <li>
                    Representación ante el gobierno
                </li>

                <li>
                    Información actualizada
                </li>

                <li>
                    Capacitación y educación
                </li>

                <li>
                    Apoyo a la industria
                </li>

            </ul>
        </div>
    </div>
    <img src="assets/mem.jpg" alt="">
</div>

<div class="a">
    <div class="comoA">
        <div class="afiliarse">
            <h2>¿Cómo afiliarse a la <span>FENIHMATN</span>?</h2>
        </div>
        <div class="info">
            <p>
                Para Afiliarse a la FENIHMATN, las empresas y
                los individuos deben completar un formulario de
                solicitud y pagar una cuota de membresía anual.
                La cuota de membresía varía según el tipo de membresía
                y el tamaño de la empresa.
            </p>
        </div>
    </div>
</div>

<!-- <div class="container">
    <span>Tipos de Membresia</span>
</div>

<div class="paquetes"></div>

<template class="paquete_template">
    <figure class="paq">
        <img src="" alt="">
        <figcaption></figcaption>
    </figure>
</template> -->
<div class="encabezado">
    <h1>Tipos de membresias</h1>
</div>

<main class="afiliacion">
    <div class="afil">
        <section class="servicio">
            <img src="assets/salud.jpg" alt="Servicio 1">
            <div class="title">
                <h2>Miembro Individual</h2>
            </div>
            <div class="contenido1">
                <p>Profesionales de la salud, investigadores y otros individuos interesados en la industria de
                    productos
                    herbolarios, suplementos alimenticios, alimentos y cosméticos
                </p>
                <div class="list1">
                    <ul>
                        <li>Información actualizada sobre regulaciones, tendencias de la industria y mejores prácticas
                        </li>
                        <li> Descuentos en capacitación y programas educativos
                        </li>
                        <li>Acceso a recursos exclusivos para miembros
                        </li>
                        <li>Apoyo a la industria a través de iniciativas de investigación, promoción y desarrollo de
                            estándares.
                        </li>
                        <li><span> $1,200.00</span></li>
                    </ul>
                </div>
                <div class="btn">
                    <button>Afiliarse</button>
                </div>
            </div>
        </section>

        <!--Nueva carta de afiliacion-->
        <section class="servicio">
            <img src="assets/ingredientes.jpg" alt="Servicio 1">
            <div class="title">
                <h2>Miembro Asociado</h2>
            </div>
            <div class="contenido1">
                <p>Empresas y organizaciones que brindan servicios o
                    productos a la industria, como proveedores de ingredientes,
                    fabricantes de equipos y consultores
                </p>
                <div class="list1">
                    <ul>
                        <li>
                            La mayoría de los beneficios de los miembros activos, excepto el uso del logotipo de la
                            FENIHMATN y el listado en el directorio de miembros.
                        </li>
                        <li>
                            <span>Costo: 7,000.00</span>
                        </li>
                    </ul>
                </div>
                <div class="btn">
                    <button>Afiliarse</button>
                </div>
            </div>
        </section>

        <!--Nueva carta de afiliacion-->
        <section class="servicio">
            <img src="assets/tipo1.jpg" alt="Servicio 1">
            <div class="title">
                <h2>Miembro Activo</h2>
            </div>
            <div class="contenido1">
                <p>Empresas y organizaciones que brindan servicios o
                    productos a la industria, como proveedores de ingredientes,
                    fabricantes de equipos y consultores
                </p>
                <div class="list1">
                    <ul>
                        <li>Representación ante gobierno y reguladores.</li>
                        <li>Información actualizada sobre regulaciones e industria.</li>
                        <li>Capacitación y educación.</li>
                        <li>Apoyo a través de investigación y estándares.</li>
                        <li>Uso del logo en marketing.</li>
                        <li>Inclusión en directorio de miembros.</li>
                        <li>
                            <span>Costo: $8,800.00</span>
                        </li>
                    </ul>
                </div>
                <div class="btn">
                    <button>Afiliarse</button>
                </div>
            </div>
        </section>
    </div>
</main>



<div class="b">
    <div class="respon">
        <div class="af">
            <h2><span>Responsabilidad </span>de los miembros</h2>
        </div>
        <div class="infor">
            <p>
                Los miembros de la FENIHMATN deben cumplir con el código de ética de la
                organización y apoyar sus objetivos y misión. Los miembros también deben
                participar activamente en las actividades de la FENIHMATN y contribuir
                al crecimiento y desarrollo de la industria.
            </p>
        </div>
    </div>
</div>