<div class="n">
    <div class="nosotros">
        <div class="unirte">
            <h2>BENEFICIOS DE UNIRTE A <span>FENIHMATN</span></h2>
        </div>
        <div class="info">
            <p>
                Al ser miembro asociado puedes recibir nuestros servicios 
                de asesoría e información importante que puede ayudarte a 
                crecer dentro de su negocio o profesión.
            </p>
            <ul>
                <li>
                    Representación ante el gobierno
                </li>

                <li>
                    Información actualizada
                </li>

                <li>
                    Capacitación y educación
                </li>

                <li>
                    Apoyo a la industria
                </li>

            </ul>
        </div>
    </div>
    <img src="assets/granada.png" alt="">
</div>

<div class="a">

        <div class="paraAfiliarse">
            <p>
                Para afiliarte, elegie el tipo de membresia para posteriomente 
                llenar un formulario, de acuerdo a la categoría en la que te 
                encuentres, y nos pondremos en contacto contigo.
            </p>
        </div>

    <!-- <div class="comoA">
        <div class="afiliarse">
            <h2>¿Cómo afiliarse a la <span>FENIHMATN</span>?</h2>
        </div>
        <div class="info">
            <p>
                Para Afiliarse a la FENIHMATN, las empresas y
                los individuos deben completar un formulario de
                solicitud y pagar una cuota de membresía anual.
                La cuota de membresía varía según el tipo de membresía
                y el tamaño de la empresa.
            </p>
        </div>
    </div> -->
</div>

<div class="encabezado">
    <h1>TIPOS DE MEMBRESÍAS</h1>
</div>

<main class="afiliacion">
    <div class="afil">
        <section class="servicio">
            <img src="assets/ingredientes.jpg" alt="Servicio 1">
            <div class="title">
                <h2>MIEMBRO PRIMARIO</h2>
            </div>
            <div class="contenido1">
                <p>
                    Profesionales de la salud, personas físicas distribuidores y 
                    todos los interesados en los productos herbolarios, suplementos 
                    alimenticios, alimentos y cosméticos.
                </p>
                <div class="list1">
                    <ul>
                        <!-- <li>Información actualizada sobre regulaciones, tendencias de la industria y mejores prácticas
                        </li>
                        <li> Descuentos en capacitación y programas educativos
                        </li>
                        <li>Acceso a recursos exclusivos para miembros
                        </li>
                        <li>Apoyo a la industria a través de iniciativas de investigación, promoción y desarrollo de
                            estándares.
                        </li> -->
                        <li><span id="cuota">CUOTA ANUAL: $1200.00</span></li>
                    </ul>
                </div>
                <div class="btn">
                    <button (click)="reditecToForms()">Afiliarse</button>
                </div>
            </div>
        </section>

        <!--Nueva carta de afiliacion-->
        <section class="servicio">
            <img src="assets/tipo1.jpg" alt="Servicio 1">
            <div class="title">
                <h2>MIEMBRO SECUNDARIO</h2>
            </div>
            <div class="contenido1">
                <p>Fabricante o distribuidor de cadena de tiendas de herbolaria.
                </p>
                <div class="list1">
                    <ul>
                        <!-- <li>
                            La mayoría de los beneficios de los miembros activos, excepto el uso del logotipo de la
                            FENIHMATN y el listado en el directorio de miembros.
                        </li>-->
                        <li> 
                            <span>CUOTA ANUAL: $ 5000.00</span>
                        </li>
                    </ul>
                </div>
                <div class="btn">
                    <button (click)="reditecToForms()">Afiliarse</button>
                </div>
            </div>
        </section>

        <!--Nueva carta de afiliacion-->
        <section class="servicio">
            <img src="assets/salud.jpg" alt="Servicio 1">
            <div class="title">
                <h2>OTROS</h2>
            </div>
            <div class="contenido1">
                <p>
                    Organizaciones Nacionales e Internacionales, Universidades, Investigadores con los que se generan convenios de colaboración.
                </p>
                <div class="list1">
                    <ul>
                        <!-- <li>Representación ante gobierno y reguladores.</li>
                        <li>Información actualizada sobre regulaciones e industria.</li>
                        <li>Capacitación y educación.</li>
                        <li>Apoyo a través de investigación y estándares.</li>
                        <li>Uso del logo en marketing.</li>
                        <li>Inclusión en directorio de miembros.</li>-->
                        <li> 
                            <span>CUOTA ANUAL: $ -</span>
                        </li>
                    </ul>
                </div>
                <div class="btn">
                    <button (click)="reditecToForms()">Afiliarse</button>
                </div>
            </div>
        </section>
    </div>
</main>



<div class="b">
    <div class="respon">
        <div class="af">
            <h2><span>Responsabilidad </span>de los miembros</h2>
        </div>
        <div class="infor">
            <p>
                Los miembros de la FENIHMATN deben cumplir el Código de Ética, 
                apoyar sus objetivos, misión, visión y valores. Así como participar 
                activamente en las actividades de la FENIHMATN apoyando al desarrollo 
                de la industria herbolaria y la medicina tradicional.
            </p>
        </div>
    </div>
</div>