<div class="n">
    <div class="pina">
        <img src="/assets/Afiliate/FondoBen.jpg" alt="">
    </div>
    <div class="nosotros">
        <div class="unirte">
            <h2>Beneficios de Unirte a FNIHMATN</h2>
        </div>
        <div class="info">
            <p>
                Al ser miembro asociado puedes recibir nuestros Servicios
                de Asesoría e Información importante que puede ayudarte a
                crecer dentro de tu negocio o profesión.
            </p>
            <ul>
                <li>
                    Representación ante el gobierno
                </li>

                <li>
                    Información actualizada
                </li>

                <li>
                    Capacitación y educación
                </li>

                <li>
                    Apoyo a la industria
                </li>

            </ul>
        </div>
    </div>
</div>



<div class="paraAfiliarse">
    <!-- <p>
        Para afiliarte, elige el tipo de membresia para posteriomente
        llenar un formulario, de acuerdo a la categoría en la que te
        encuentres, y nos pondremos en contacto contigo.
    </p> -->
</div>
<div class="encabezado">
    <h1>Tipos de Membresías</h1>
</div>




<main class="afiliacion">
    <div class="afil">
        <section class="servicio">
            <img src="/assets/Afiliate/plus.jpg" alt="Servicio 1">
            <div class="title">
                <h2>Miembro Plus</h2>
            </div>
            <div class="contenido1">
                <p>
                    Personas físicas y morales que se dediquen fabricar y o a distribuir
                    productos herbolarios, suplementos alimenticios, alimentos y cosméticos.
                    <!-- Profesionales de la salud, personas físicas distribuidores y
                    todos los interesados en los productos herbolarios, suplementos
                    alimenticios, alimentos y cosméticos. -->
                </p>
                <div class="list1">
                    <ul>
                        <!-- <li>Información actualizada sobre regulaciones, tendencias de la industria y mejores prácticas
                        </li>
                        <li> Descuentos en capacitación y programas educativos
                        </li>
                        <li>Acceso a recursos exclusivos para miembros
                        </li>
                        <li>Apoyo a la industria a través de iniciativas de investigación, promoción y desarrollo de
                            estándares.
                        </li> -->
                        <li><span id="cuota">CUOTA ANUAL: $5,000.00</span></li>
                    </ul>
                </div>
                <!-- <div class="btn">
                    <button (click)="reditecToForms()">Afiliarse</button>
                </div> -->
            </div>
        </section>

        <!--Nueva carta de afiliacion-->
        <section class="servicio">
            <img src="/assets/Afiliate/basica.jpg" alt="Servicio 1">
            <div class="title">
                <h2>Miembro Básico</h2>
            </div>
            <div class="contenido1">
                <p>
                    Recolectores, Profesionales de la salud y comercializadores minoristas.
                    <!-- Fabricante o distribuidor de cadena de tiendas de herbolaria. -->
                </p>
                <div class="list1">
                    <ul>
                        <!-- <li>
                            La mayoría de los beneficios de los miembros activos, excepto el uso del logotipo de la
                            FENIHMATN y el listado en el directorio de miembros.
                        </li>-->
                        <li>
                            <span>CUOTA ANUAL: $ 1,500.00</span>
                        </li>
                    </ul>
                </div>
                <!-- <div class="btn">
                    <button (click)="reditecToForms()">Afiliarse</button>
                </div> -->
            </div>
        </section>

        <!--Nueva carta de afiliacion-->
        <section class="servicio">
            <img src="/assets/Afiliate/salud.jpg" alt="Servicio 1">
            <div class="title">
                <h2>Convenios</h2>
            </div>
            <div class="contenido1">
                <p>
                    Organizaciones Nacionales e Internacionales, Universidades, Investigadores con los que se generan
                    convenios de colaboración.
                </p>
                <div class="list1">
                    <ul>
                        <!-- <li>Representación ante gobierno y reguladores.</li>
                        <li>Información actualizada sobre regulaciones e industria.</li>
                        <li>Capacitación y educación.</li>
                        <li>Apoyo a través de investigación y estándares.</li>
                        <li>Uso del logo en marketing.</li>
                        <li>Inclusión en directorio de miembros.</li>-->
                        <li>
                            <span>SIN ANUALIDAD POR CONVENIO FIRMADO</span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="masInfo">
        <h3>
            Para mayor información o duda a resolver, llene el formulario.
        </h3>
        <div class="btn">
            <button (click)="reditecToForms()">Ir al formulario</button>
        </div>
    </div>
</main>



<div class="b">
    <div class="respon">
        <div class="af">
            <h2>Responsabilidad de los miembros</h2>
        </div>
        <div class="infor">
            <p>
                Los miembros de la FNIHMATN deben cumplir el Código de Ética,
                apoyar sus Objetivos, Misión, Visión y Valores. Así como participar
                activamente en las actividades de la FNIHMATN impulsando al desarrollo
                de la industria herbolaria y la medicina tradicional.
            </p>
        </div>
    </div>
    <figure class="hero">
        <img src="/assets/Afiliate/afiliFinal.png" alt="">
    </figure>
</div>


