<div class="intro">
    <p class="title">
        Nuestro <span>Equipo</span> de Tr<span>aba</span>jo
    </p>
    <p class="inf">
        La Federación Herbolaria cuenta con un equipo multidisciplinario 
        liderado por el Dr. Emmanuel Zúñiga Sánchez como Presidente y 
        la Dra. Sofía Valdez Morales como Vicepresidenta, quienes destacan 
        por su experiencia en fitoterapia y farmacognosia respectivamente. 
        El equipo incluye al Lic. Martín Flores Guzmán como Secretario 
        General y a la Lic. Natalia Ramos Ríos como Tesorera, además de 
        vocales expertos en diversas ramas de la herbolaria y un Comité 
        Científico y de Ética que garantizan el rigor científico y ético 
        en sus investigaciones y actividades. Juntos, se comprometen a 
        promover el desarrollo sostenible de la herbolaria, preservar el 
        conocimiento tradicional y fomentar la investigación científica, 
        guiados por principios de excelencia, ética y responsabilidad social.
    </p>
</div>
<div class="cards">
    <div class="card">
        <section class="card_section1">
            <img src="assets/Em.png" alt="" class="perfilPic">
            <h2>Dr. Emmanuel Zúñiga Sánchez</h2>
            <p>Presidente</p>
        </section>
    
        <div class="card_section2">
            <p>
                Reconocido experto en fitoterapia, con más de 25 años de 
                experiencia en el campo de la herbolaria. Ha publicado numerosos 
                artículos científicos y es autor de varios libros sobre plantas 
                medicinales. Su pasión por la investigación y la preservación del 
                conocimiento herbolario tradicional lo han llevado a ocupar este cargo.
            </p>
        </div>
    </div>
    <div class="card">
        <section class="card_section1">
            <img src="assets/ce.png" alt="" class="perfilPic">
            <h2>Dra. Sofía Valdez Morales</h2>
            <p>Vicepresidenta</p>
        </section>
    
        <div class="card_section2">
            <p>
                Dra. Sofía Valdez MoralesDestacada especialista en farmacognosia, 
                con un doctorado en la Universidad de Cambridge. Ha dedicado su 
                carrera al estudio de los principios activos de las plantas 
                medicinales y su aplicación en la industria farmacéutica. 
                Es una firme defensora de la integración de la herbolaria 
                con la medicina convencional.
    
            </p>
        </div>
    </div>
    <div class="card">
        <section class="card_section1">
            <img src="assets/ma.png" alt="" class="perfilPic">
            <h2>Lic. Martín Flores Guzmán</h2>
            <p>Secretario General</p>
        </section>
    
        <div class="card_section2">
            <p>
                Abogado de profesión, con una sólida formación en derecho 
                ambiental y regulaciones relacionadas con la industria herbolaria. 
                Su experiencia en la negociación y gestión de trámites legales ha 
                sido invaluable para la Federación en temas de legislación y 
                protección de los recursos naturales.
            </p>
        </div>
    </div>
    <div class="card">
        <section class="card_section1">
            <img src="assets/pa.png" alt="" class="perfilPic">
            <h2>Pamela</h2>
            <p>Gerente de Producción</p>
        </section>
    
        <div class="card_section2">
            <p>
                Gerente de Producción altamente dedicada y apasionada en una tienda
                de herbolaria saludable. Su liderazgo efectivo y compromiso con la 
                calidad se reflejan en su supervisión cercana de todos los aspectos 
                del proceso de producción, así como en su habilidad para motivar y 
                liderar a su equipo hacia la excelencia. Fuera del trabajo, 
                se compromete activamente a educar sobre un estilo de vida saludable y 
                sostenible, demostrando así su compromiso no solo con la calidad de los 
                productos, sino también con el bienestar integral de la comunidad.
            </p>
        </div>
    </div>
</div>