<div class="container">
    <div class="t1">
        <h1>Nuestra Historia</h1>
    </div>
    <div class="contenedores">
        <div class="texto">
            <div class="titulo">
                <h2>Origenes y Fundación</h2>
            </div>
            <div class="informacion">
                <p>
                    La FENIHMATN se crea en 2014, ante la regulación sanitaria impuesta en ese momento
                    que atentaba en contra del derecho humano a decidir con que tipo de medicina atenderse
                    y que tipo de productos consumir para mejorar su salud; siendo así que dicha regulación
                    tenía como objetivo principal desaparecer la medicina tradicional y herbolaria en México.
                    <br>
                    <br>
                    Por lo que se constituye, en la cámara de diputados federal, asistiendo a la ceremonia
                    inaugural el entonces Presidente de la Cámara Silvano Auroles Cornejo y varios diputados
                    federales, entre los que destaca Roberto López Juárez; así como autoridades de salud del
                    gobierno federal, miembros fundadores e integrantes de las distintas cadenas productivas
                    de la medicina tradicional y la herbolaria.
                </p>
            </div>
        </div>
        <div class="origenes">
            <img src="/assets/Quienes Somos/Historia/origenes.jpg" alt="" />
        </div>
    </div>
    <div class="contenedores1">
        <div class="texto">
            <div class="titulo">
                <h2>Crecimiento y Desarrollo</h2>
            </div>
            <div class="informacion">
                <p>
                    En los siguientes años la FENIHMATN experimentó un crecimiento significativo al agrupar miembros
                    importantes de la medicina tradicional y la industria herbolaria, así como establecer convenios
                    de colaboración con diferentes autoridades para promover y difundir el conocimiento de la medicina
                    tradicional y el uso de las plantas medicinales.
                </p>
            </div>
        </div>
        <div class="des">
            <img src="/assets/Quienes Somos/Historia/des.jpg" alt="" />
        </div>
    </div>
    <div class="contenedores2">
        <div class="texto">
            <div class="titulo">
                <h2>Logros Notables</h2>
            </div>
            <div class="informacion">
                <ul>
                    <li>La FENIHMAT logró el reconocimiento oficial del gobierno mexicano a la medicina tradicional,
                        industria herbolaria y terapias alternativas.
                    </li>
                    <li>
                        Evaluación, análisis y liberación de plantas
                        medicinales que se querían prohibir bajo el pretexto del efecto farmacológico y su toxicidad.
                    </li>
                    <li>Cursos y capacitaciones impartidos por autoridades sanitarias (COFEPRIS) y autoridades de
                        patentes
                        en marcas (IMPI).</li>
                    <li>Promoción de iniciativas de ley ante las cámaras de diputados y senadores con el objetivo de
                        reforzar
                        leyes y reglamentos para preservar y difundir el uso de la medicina tradicional así como los
                        productos hechos a base de plantas medicinales fabricados por miembros de la industria. </li>
                </ul>
            </div>
        </div>
        <div class="logros">
            <img src="/assets/Quienes Somos/Historia/logros.jpg" alt="" />
        </div>
    </div>
    <div class="contenedores3">
        <div class="texto">
            <div class="titulo">
                <h2>Papel Principal</h2>
            </div>
            <div class="informacion">
                <p>
                    La FENIHMAT es la principal representante del sector en México.
                    Siempre comprometida con promover políticas públicas en beneficio
                    de todos los integrantes de la cadena productiva.
                </p>
            </div>
        </div>
        <div class="papelP">
            <img src="/assets/Quienes Somos/Historia/federacion.png" alt="" />
        </div>
    </div>
</div>

<!--ESto va a ir en el componente de Hisotira-->
<!--

<div class="container">

    <div class="contenedor">
        <div class="informacon">
            <p class="titulo1"> <span>Origenes y </span> Fundación </p>
            <p class="info_1">
                La FENIHMATN se crea en 2014, ante la regulación sanitaria impuesta en ese momento
                que atentaba en contra del derecho humano a decidir con que tipo de medicina atenderse
                y que tipo de productos consumir para mejorar su salud; siendo así que dicha regulación
                tenía como objetivo principal desaparecer la medicina tradicional y herbolaria en México.
                <br>
                <br>
                Por lo que se constituye, en la cámara de diputados federal, asistiendo a la ceremonia
                inaugural el entonces Presidente de la Cámara Silvano Auroles Cornejo y varios diputados
                federales, entre los que destaca Roberto López Juárez; así como autoridades de salud del
                gobierno federal, miembros fundadores e integrantes de las distintas cadenas productivas
                de la medicina tradicional y la herbolaria.

            </p>
        </div>
    </div>
    <div class="origenes">
            <img src="assets/origenes.jpg" alt="" />
        </div>
    </div>
    <div class="contenedor2">
        <div class="crecimiento">
            <img src="assets/desarrollo.jpg" alt="" />
        </div>
        <div class="informacon2">
            <p class="titulo2">Crecimiento y <span> desarrollo</span> </p>
            <p class="info_2">
                En los siguientes años la FENIHMATN experimentó un crecimiento significativo al agrupar miembros
                importantes de la medicina tradicional y la industria herbolaria, así como establecer convenios
                de colaboración con diferentes autoridades para promover y difundir el conocimiento de la medicina
                tradicional y el uso de las plantas medicinales.
            </p>
        </div>
    </div>

    <div class="contenedor3">
        <div class="informacon3">
            <p class="titulo3"><span>Logros</span> Notables</p>
            <div class="listaLogros">

                <ul>
                    <li>La FENIHMAT logró el reconocimiento oficial del gobierno mexicano a la medicina tradicional,
                        industria herbolaria y terapias alternativas.
                    </li>
                    <li>
                        Evaluación, análisis y liberación de plantas
                        medicinales que se querían prohibir bajo el pretexto del efecto farmacológico y su toxicidad.
                    </li>
                    <li>Cursos y capacitaciones impartidos por autoridades sanitarias (COFEPRIS) y autoridades de
                        patentes
                        en marcas (IMPI).</li>
                    <li>Promoción de iniciativas de ley ante las cámaras de diputados y senadores con el objetivo de
                        reforzar
                        leyes y reglamentos para preservar y difundir el uso de la medicina tradicional así como los
                        productos hechos a base de plantas medicinales fabricados por miembros de la industria. </li>
                </ul>
            </div> -->
<!-- <p class="info_3">
                La federación ha conseguido notables logros, que incluyen el
                reconocimiento oficial del gobierno mexicano a la medicina herbolaria
                y las terapias alternativas. Además, ha implementado un código de
                ética para sus miembros y ha promovido la integración de estas
                terapias en el sistema de salud pública.
            </p> -->
<!-- </div>
        <div class="logros">
            <img src="assets/logros.jpg" alt="" />
        </div>
    </div>


    <div class="contenedor4">
        <div class="principal">
            <img src="assets/federacion.png" alt="" />
        </div>
        <div class="informacon4">
            <p class="titulo4">Papel<span> principal</span></p>
            <p class="info_4">
                La FENIHMAT es la principal representante del sector en México.
                Siempre comprometida con promover políticas públicas en beneficio
                de todos los integrantes de la cadena productiva. -->
<!-- La Federación Nacional de la Industria Herbolaria, Medicina
                Alternativa, Tradicional y Naturista A.C. es la principal
                representante de la medicina natural en México, comprometida con
                promover su uso seguro y efectivo, defender políticas favorables y
                respaldar a sus miembros en su práctica profesional. -->
<!-- </p>
        </div>
    </div>
-->


<!-- 


<div class="contenedor_4">
    <img src="assets/roles.png" alt="" />
    <div class="info_4">
        <p class="titulo4">Papel<span> principal</span></p>
        <p class="pa">
            La Federación Nacional de la Industria Herbolaria, Medicina
            Alternativa, Tradicional y Naturista A.C. es la principal
            representante de la medicina natural en México, comprometida con
            promover su uso seguro y efectivo, defender políticas favorables y
            respaldar a sus miembros en su práctica profesional.
        </p>
    </div>
</div> -->