.contenedor {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    /* margin: 2rem; */
    background: #FDD48A;
}

.informacon {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #57392e;
    height: 380px;
    margin: 0 3rem 0 0;
}

.informacon span {
    color: #57392e;
}

.titulo1 {
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    color: #007c65;
}

.info_1 {
    font-size: 18px;
    width: auto;
    color: #57392e;
    hyphens: manual;
    padding: 2rem 0 0 3rem;

}


.origenes {
    width: 100%;
    height: 100%;
}

.origenes img {
    height: 100%;
    width: 50vw;
}

/*?EStilos para el contenedor de crecimiento*/
.contenedor2 {
    height: 700px;
    display: flex;
    align-items: center;
    background-color: #83D350;
    /* position: relative; */
    /* margin: 2rem; */
}

.informacon2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 380px;
}

.informacon2 span {
    color: #007c65;
}

.titulo2 {
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    color: #57392e;
}

.info_2 {
    font-size: 18px;
    hyphens: manual;
    width: auto;
    color: #57392e;
    padding: 2rem 2rem;
}

.crecimiento {
    height: 100%;
    width: 50%;
}

.crecimiento img {
    height: 100%;
    width: 100%;
}

/*?EStilos para el contenedor de logros*/
.contenedor3 {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #c6eea8;
    /* background: #f2eeee; */
    /* margin: 2rem; */
}

.informacon3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #57392e;
    height: 380px;
    margin: 0 5rem;
}

.informacon3 span {
    color: #57392e;
}

.titulo3 {
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    color: #007c65;
}

.listaLogros ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.listaLogros li{
    padding-bottom: 2rem;
    height: auto;
    width: auto;
}

.logros {
    width: 125%;
    height: 100%;
}

.logros img {
    height: 100%;
    width: 100%;
}

/*?EStilos para el contenedor de papel principal*/
.contenedor4 {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #feeec7;
    /* background: #f2eeee; */
    margin: 0 0 4rem 0;
}

.informacon4 {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #57392e;
    height: 380px;
    margin: 0 5rem;
}

.informacon4 span {
    color: #57392e;
}

.titulo4 {
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    color: #007c65;
}

.info_4 {
    font-size: 18px;
    text-align: center;
    width: auto;
    color: #57392e;
    padding-top: 2rem;

}

.principal {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal img {
    height: 80%;
    width: auto;
    padding: 0 3rem ;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container span {
        color: #fff;
        margin-right: 4px;
    }

    .contenedor {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: transparent; */
        margin-top: 2rem;
    }

    .informacon {
        width: 100%;
        height: 50%;
    }

    .titulo1 {
        width: 100%;
        height: 100%;
        background-color: #c2590c;
        font-size: 30px;
        color: #fff;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 3rem;
    }

    .info_1 {
        width: auto;
        height: 100%;
        font-size: 15px;
        /* padding: 2rem 3rem; */
    }

    .origenes {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
    }

    .origenes img {
        width: 50vw;
        height: 200px;
        border-radius: 4%;
    }



    /*?---------------------------*/

    .contenedor2 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: initial;
        margin-top: 2rem;

    }

    .informacon2 {
        width: 100%;
        height: 100%;
    }
    .informacon2 span {
        color: #fff;
        margin-left: 4px;
    }

    .titulo2 {
        width: 100%;
        height: 100%;
        background-color: #386f1c;
        font-size: 30px;
        color: #fff;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info_2 {
        width: auto;
        height: 100%;
        font-size: 15px;
        padding-left: 1.5rem;
    }

    .crecimiento {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
    }

    .crecimiento img {
        width: 50vw;
        height: 200px;
        border-radius: 4%;
    }

    /*?---------------------------*/

    .contenedor3 {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: initial;
        margin-top: 2rem;
    }

    .informacon3 {
        width: 100%;
        height: auto;
    }
    .informacon3 span {
        color: #fff;
        margin-right: 4px;
    }
    .titulo3 {
        width: 100%;
        height: 100%;
        background-color: #386f1c;
        font-size: 30px;
        color: #fff;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .listaLogros {
        width: auto;
        height: 100%;
        font-size: 15px;
    }

    .logros {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
    }

    .logros img {
        width: 50vw;
        height: 200px;
        border-radius: 4%;
    }

    /*?---------------------------*/


    .contenedor4 {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: initial;
        margin: 2rem 0;

    }
    .informacon4 span {
        color: #fff;
        margin-left: 4px;
    }
    .informacon4 {
        width: 100%;
        height: 50%;
    }

    .titulo4 {
        width: 100%;
        height: 100%;
        background-color: #c2590c;
        font-size: 30px;
        color: #fff;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info_4 {
        width: auto;
        height: 100%;
        font-size: 15px;
        padding: 2rem 3rem;
    }

    .principal {
        width: 100%;
        height: 100%;
        padding: 2rem 0;
    }

    .principal img {
        width: 300px;
        height: 250px;
        
    }
}

@media screen and (max-width: 767px) and (min-width: 320px){
    .container {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container span {
        color: #fff;
        margin-right: 4px;
    }

    .contenedor {
        height: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: initial;
        margin-top: 2rem;
    }

    .informacon {
        width: 100%;
        height: 50%;
        position: relative;
    }

    .titulo1 {
        width: 100%;
        height: 100%;
        background-color: #007c65;
        font-size: 20px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info_1 {
        width: auto;
        height: 100%;
        font-size: 13px;
        padding: 2rem 3rem;
        text-align: start;
        padding: 1rem 1rem;

    }

    .origenes {
        width: auto;
        height: 100%;
    }

    .origenes img {
        width: 90vw;
        height: 200px;
    }

    /*?s Contenedor 2*/

    .contenedor2 {
        height: auto;
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: initial;
        margin-top: 2rem;
    }

    .informacon2 {
        width: 100%;
        height: 50%;
        position: relative;
    }

    .informacon2 span {
        color: #fff;
        margin-left: 4px;
    }
    .titulo2 {
        width: 100%;
        height: 100%;
        background-color: #007c65;
        font-size: 20px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info_2 {
        width: auto;
        height: 100%;
        font-size: 13px;
        padding: 2rem 3rem;
        text-align: start;
        padding: 1rem 1rem;
    }

    .crecimiento {
        width: auto;
        height: 100%;
    }

    .crecimiento img {
        width: 90vw;
        height: 200px;
    }

    /*?Contenedor 3*/

    .contenedor3 {
        height: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: initial;
        margin-top: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }

    .informacon3 {
        width: 100%;
        height: 50%;
        position: relative;
    }

    .informacon3 span {
        color: #fff;
        margin-right: 4px;
    }
    .titulo3 {
        width: 100%;
        height: 100%;
        background-color: #007c65;
        font-size: 20px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info_3 {
        width: auto;
        height: 100%;
        font-size: 13px;
        padding: 2rem 3rem;
        text-align: start;
        padding: 1rem 1rem;
    }

    .logros {
        width: auto;
        height: 100%;
    }

    .logros img {
        width: 90vw;
        height: 200px;
    }

    /*?Contenedor 4*/
    .contenedor4 {
        height: auto;
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: initial;
        margin-bottom: 2rem;
    }

    .informacon4 {
        width: 100%;
        height: 50%;
        position: relative;
    }

    .informacon4 span {
        color: #fff;
        margin-left: 4px;
    }
    .titulo4 {
        width: 100%;
        height: 100%;
        background-color: #007c65;
        font-size: 20px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info_4 {
        width: auto;
        height: 100%;
        font-size: 13px;
        padding: 2rem 3rem;
        text-align: start;
        padding: 1rem 1rem;
    }

    .principal {
        width: auto;
        height: 100%;
        margin-bottom: 1rem;
    }

    .principal img {
        width: 50vw;
        height: 100px;
    }
}