.container {
    width: 100%;
    height: 100%;
    padding: 3rem 0;
    background-color: #f1f1f1;

}

.t1 {
    text-align: center;
    color: #388E3C;
}

.contenedores {
    height: 70vh;
    width: auto;
    display: flex;
    align-items: center;
    margin: 3rem 6rem;
    border-top-left-radius: 30rem;
    border-bottom-left-radius: 30rem;
    background: rgb(193, 248, 94);
    background: radial-gradient(circle, rgba(193, 248, 94, 1) 31%, rgba(136, 212, 14, 1) 85%);
    box-shadow: 0 1px 16px #375611;
}

.titulo {
    margin-bottom: 3rem;
    color: #388E3C;
}

.informacion {
    color: #795548;
    font-weight: 500;
    /* overflow: hidden; */
}

.informacion p {
    padding: 0 3rem;
    text-align: right;
    animation-duration: 1.5s;
    animation-name: slidein;
}

.informacion li{
    margin: 0 1rem;
    /* text-align: justify; */
    animation-duration: 1.5s;
    animation-name: slidein;
}


@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
        opacity: -3;
    }

    to {
        margin-left: 0;
        width: 100%;
    }
}

.texto {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.origenes {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.origenes img {
    width: 100%;
    height: 105%;
    border-radius: .2rem;
    transition: all .2s ease-in;
}

/*?EStilos para el contenedor de crecimiento*/
.contenedores1 {
    height: 70vh;
    width: auto;
    display: flex;
    align-items: center;
    margin: 3rem 6rem;
    border-top-left-radius: 30rem;
    border-bottom-left-radius: 30rem;
    background: rgb(193, 248, 94);
    background: radial-gradient(circle, rgba(193, 248, 94, 1) 31%, rgba(136, 212, 14, 1) 85%);
    box-shadow: 0 1px 16px #375611;
}

.des {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.des img {
    width: 100%;
    height: 105%;
    border-radius: .2rem;

}


/*?EStilos para el contenedor de crecimiento*/
.contenedor2 {
    height: 700px;
    display: flex;
    align-items: center;
    background-color: #9dd89f;

    border-top-right-radius: 30rem;
    border-bottom-right-radius: 30rem;
}

.crecimiento {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.crecimiento img {
    width: 100%;
    height: 105%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

/*?EStilos para el contenedor de logros*/
.contenedores2 {
    height: 70vh;
    width: auto;
    display: flex;
    align-items: center;
    margin: 3rem 6rem;
    border-top-left-radius: 30rem;
    border-bottom-left-radius: 30rem;
    background: rgb(193, 248, 94);
    background: radial-gradient(circle, rgba(193, 248, 94, 1) 31%, rgba(136, 212, 14, 1) 85%);
    box-shadow: 0 1px 16px #375611;
}

.informacion ul {
    padding: 0 0 0 2rem;
}

.informacion li {
    padding-bottom: 1rem;
    animation-duration: 1.5s;
    animation-name: slidein;
    list-style-type: square;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
        opacity: -4;
    }

    to {
        margin-left: 0;
        width: 100%;
    }
}

.logros {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logros img {
    width: 100%;
    height: 105%;
    border-radius: .2rem;
}


/*?EStilos para el contenedor de papel principal*/
.contenedores3 {
    height: 70vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 6rem 0 6rem;
    background: rgb(193, 248, 94);
    background: radial-gradient(circle, rgba(193, 248, 94, 1) 31%, rgba(136, 212, 14, 1) 85%);
    border-radius: 30rem;
    box-shadow: 0 1px 16px #375611;
}

.papelP {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.papelP img {
    width: 40%;
    height: 90%;

}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contenedores {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        box-shadow: none;
        border-radius: unset;
        overflow: hidden;
        background: none;
    }

    .titulo {
        width: 100%;
        text-align: center;
        margin-bottom: initial;
        /* padding: unset; */
    }

    .titulo h2{
        width: 100%;
        padding: 1rem 0;
    }

    .informacion {
        width: 75vw;
        font-weight: 500;
        /* text-align: left; */
        overflow: hidden;
        padding: 2rem 0;
        text-align: justify;
    }
    .informacion p{
        text-align: center;
    }
    .origenes {
        height: 80vh;
        width: 100%;
        /* display: initial; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .origenes img {
        height: 100%;
        width: 100%;
        /* margin:2rem 0; */
        /* border-radius: 45%; */
    }

    /*?-------------------------*/
    .contenedores1 {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        box-shadow: none;
        border-radius: unset;
        overflow: hidden;
        background: none;
    }

    .des {
        height: 80vh;
        width: 100%;
        /* display: initial; */
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .des img {
        height: 100%;
        width: 100%;
        /* margin:2rem 0; */
        /* border-radius: 45%; */
    }

    /*?-------------------------*/
    .contenedores2 {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        box-shadow: none;
        border-radius: unset;
        overflow: hidden;
        background: none;
    }

    .logros {
        height: 80vh;
        width: 100%;
        /* display: initial; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logros img {
        height: 100%;
        width: 100%;
        /* margin:2rem 0; */
        /* border-radius: 45%; */
    }

    /*?------------------------*/

    .contenedores3 {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        box-shadow: none;
        border-radius: unset;
        overflow: hidden;
        background: none;
    }

    .papelP {
        height: 50vh;
        width: 100%;
        /* display: initial; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .papelP img {
        height: 30%;
        width: 30%;
        /* margin:2rem 0; */
        /* border-radius: 100%; */
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
   
    .contenedores {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        /* align-items: center; */
        box-shadow: none;
        border-radius: unset;
        overflow: hidden;
        background: none;
        margin: 2rem 0;
    }
    .titulo {
        width: 100vw;
        text-align: center;
        margin-bottom: initial;
        padding: 2rem 0 0 0;
    }

    .informacion {
        width: 100vw;
        height: 100%;
        /* font-weight: 500; */
        /* overflow: hidden; */
        /* padding: 2rem 1rem; */
    }
    
    .informacion p{
        text-align: center;
        padding: 1rem;
    }
    .origenes {
        height: 50%;
        width: 80%;
        /* display: initial; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .origenes img {
        height: 100%;
        width: 100%;
        /* margin:2rem 0; */
        /* border-radius: 50%; */
    }

    .contenedores1 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        /* align-items: center; */
        box-shadow: none;
        border-radius: unset;
        overflow: hidden;
        background: none;
        margin: initial;
    }
    .des {
        height: 50%;
        width: 80%;
        /* display: initial; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .des img {
        height: 100%;
        width: 100%;
        /* margin:2rem 0; */
        /* border-radius: 50%; */
    }

    .contenedores2 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        /* align-items: center; */
        box-shadow: none;
        border-radius: unset;
        overflow: hidden;
        background: none;
        /* background-color: purple; */
        margin: initial;
    }
    .logros {
        height: 50%;
        width: 80%;
        /* display: initial; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logros img {
        height: 100%;
        width: 100%;
        /* margin:2rem 0; */
        /* border-radius: 50%; */
    }


    .contenedores3 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        /* align-items: center; */
        box-shadow: none;
        border-radius: unset;
        overflow: hidden;
        background: none;
        /* background-color: purple; */
        margin: initial;
    }
    .papelP {
        height: 50%;
        width: 80%;
        /* display: initial; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .papelP img {
        height: 60%;
        width: 60%;
        /* margin:2rem 0; */
        /* border-radius: 50%; */
    }

}