<!--ESto va a ir en el componente de Hisotira-->

<div class="container">

<div class="contenedor">
    <div class="informacon">
        <p class="titulo1"><span>Origenes </span>Y Fundación</p>
        <p class="info_1">
            La FENIMANT, creada en 2014 debido a desafíos regulatorios, protege y regula 
            productos herbales en México en colaboración con COFEPRIS, promoviendo terapias
            alternativas seguras y profesionalizando el sector. Su objetivo es establecer 
            estos productos como opciones de salud confiables.
        </p>
    </div>
    <div class="origenes">
        <img src="assets/origenes.jpg" alt="" />
    </div>
</div>
<div class="contenedor2">
    <div class="crecimiento">
        <img src="assets/desarrollo.png" alt="" />
    </div>
    <div class="informacon2">
        <p class="titulo2">Crecimiento y <span>desarrollo</span></p>
        <p class="info_2">
            En los años siguientes, la federación experimentó un crecimiento
            significativo, estableciendo alianzas con organizaciones nacionales y
            desempeñando un papel clave en el desarrollo de normas para la
            industria de la medicina natural en México.
        </p>
    </div>
</div>

<div class="contenedor3">
    <div class="informacon3">
        <p class="titulo3"><span>Logros</span> Notables</p>
        <p class="info_3">
            La federación ha conseguido notables logros, que incluyen el
            reconocimiento oficial del gobierno mexicano a la medicina herbolaria
            y las terapias alternativas. Además, ha implementado un código de
            ética para sus miembros y ha promovido la integración de estas
            terapias en el sistema de salud pública.
        </p>
    </div>
    <div class="logros">
        <img src="assets/logros.jpg" alt="" />
    </div>
</div>


<div class="contenedor4">
    <div class="principal">
        <img src="assets/federacion.png" alt="" />
    </div>
    <div class="informacon4">
        <p class="titulo4">Papel<span> principal</span></p>
        <p class="info_4">
            La Federación Nacional de la Industria Herbolaria, Medicina
            Alternativa, Tradicional y Naturista A.C. es la principal
            representante de la medicina natural en México, comprometida con
            promover su uso seguro y efectivo, defender políticas favorables y
            respaldar a sus miembros en su práctica profesional.
        </p>
    </div>
</div>
    
</div>
<!-- 


<div class="contenedor_4">
    <img src="assets/roles.png" alt="" />
    <div class="info_4">
        <p class="titulo4">Papel<span> principal</span></p>
        <p class="pa">
            La Federación Nacional de la Industria Herbolaria, Medicina
            Alternativa, Tradicional y Naturista A.C. es la principal
            representante de la medicina natural en México, comprometida con
            promover su uso seguro y efectivo, defender políticas favorables y
            respaldar a sus miembros en su práctica profesional.
        </p>
    </div>
</div> -->
