.container {
    width: 100%;
    height: 100%;
    background-color: #f7ffe6;
    padding: 3rem 0;
}
.t1{
    text-align: center;
    font-size: 20px;
    color: #045043;
}
.contenedores {
    height: 70vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 4rem;
    background-color: #194a8b;
    border-radius: 12px;
    box-shadow: 0 8px 29px 3px #2d76ca;
    /* background-color: #4f810a; */
}

.titulo {
    margin-bottom: 3rem;
    color: #fff;
    font-size: 20px;
}

.informacion {
    padding: 0 4rem;
    color: #fff;
    font-size: 18px;
}
.informacion p{
    animation-duration: 1.5s;
    animation-name: slidein;
}

@keyframes slidein {
    from{
        margin-left: 100%;
        width: 100%;
        opacity: -3;
    }

    to{
        margin-left: 0;
        width: 100%;
    }
}
.texto {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.origenes {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.origenes img {
    width: 80%;
    height: 75%;
}

/*?EStilos para el contenedor de crecimiento*/
.contenedores1 {
    height: 70vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 4rem;
    background-color: #41493c;
    border-radius: 12px;
    box-shadow: 0 8px 29px 3px #64705c;
    /* background-color: #4666af; */
}

.des {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.des img {
    width: 80%;
    height: 75%;
}

/* .contenedor2 {
    height: 700px;
    display: flex;
    align-items: center;
    background-color: #a3ad9b;
}

.informacon2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 380px;
}

.informacon2 span {
    color: #fff;
}

.titulo2 {
    font-size: 70px;
    font-weight: bolder;
    color: #fff;
    text-align: center;

}

.info_2 {
    font-size: 18px;
    hyphens: manual;
    width: auto;
    color: #fff;
    padding: 2rem 2rem;
}

.crecimiento {
    height: 100%;
    width: 50%;
}

.crecimiento img {
    height: 100%;
    width: 100%;
} */

/*?EStilos para el contenedor de logros*/
.contenedores2 {
    height: 70vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 4rem;
    background-color: #4666af;
    border-radius: 12px;
    box-shadow: 0 8px 29px 3px #6490cd;
    /* background-color: #4666af; */
} /* margin: 2rem; */

.informacion li {
    padding-bottom: 1rem;
    animation-duration: 1.5s;
    animation-name: slidein;
}

@keyframes slidein {
    from{
        margin-left: 100%;
        width: 100%;
        opacity: -3;
    }

    to{
        margin-left: 0;
        width: 100%;
    }
}
.logros {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logros img {
    width: 80%;
    height: 75%;
}


/*?EStilos para el contenedor de papel principal*/
.contenedores3 {
    height: 70vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 4rem 0 4rem;
    background-color: #3a636a;
    border-radius: 12px;
    box-shadow: 0 8px 29px 3px #5a979d;
    /* background-color: #4666af; */
} /* margin: 2rem; */

.papelP {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 7rem;
}

.papelP img {
    width: 60%;
    height: 75%;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container span {
        color: #fff;
        margin-right: 4px;
    }

    .contenedor {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: transparent; */
        /* margin-top: 2rem; */
    }

    .informacon {
        width: 100%;
        height: 50%;
    }

    .titulo1 {
        width: 100%;
        height: 100%;
        background-color: #c2590c;
        font-size: 30px;
        color: #fff;
        /* border-radius: 12px; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 3rem;
    }

    .info_1 {
        width: auto;
        height: 100%;
        font-size: 15px;
        /* padding: 2rem 3rem; */
    }


    .origenes {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
    }

    .origenes img {
        width: 50vw;
        height: 200px;
        border-radius: 4%;
    }



    /*?---------------------------*/

    .contenedor2 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: initial;
        /* margin-top: 2rem; */

    }

    .informacon2 {
        width: 100%;
        height: 100%;
    }

    .informacon2 span {
        color: #fff;
        margin-left: 4px;
    }

    .titulo2 {
        width: 100%;
        height: 100%;
        background-color: #386f1c;
        font-size: 30px;
        color: #fff;
        /* border-radius: 12px; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info_2 {
        width: auto;
        height: 100%;
        font-size: 15px;
        padding-left: 1.5rem;
    }

    .crecimiento {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
    }

    .crecimiento img {
        width: 50vw;
        height: 200px;
        border-radius: 4%;
    }

    /*?---------------------------*/

    .contenedor3 {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: initial;
        /* margin-top: 2rem; */
    }

    .informacon3 {
        width: 100%;
        height: auto;
    }

    .informacon3 span {
        color: #fff;
        margin-right: 4px;
    }

    .titulo3 {
        width: 100%;
        height: 100%;
        background-color: #386f1c;
        font-size: 30px;
        color: #fff;
        /* border-radius: 12px; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .listaLogros {
        width: auto;
        height: 100%;
        font-size: 15px;
    }

    .logros {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
    }

    .logros img {
        width: 50vw;
        height: 200px;
        border-radius: 4%;
    }

    /*?---------------------------*/


    .contenedor4 {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: initial;
        /* margin: 2rem 0; */

    }

    .informacon4 span {
        color: #fff;
        margin-left: 4px;
    }

    .informacon4 {
        width: 100%;
        height: 50%;
    }

    .titulo4 {
        width: 100%;
        height: 100%;
        background-color: #c2590c;
        font-size: 30px;
        color: #fff;
        /* border-radius: 12px; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info_4 {
        width: auto;
        height: 100%;
        font-size: 15px;
        padding: 2rem 3rem;
    }

    .principal {
        width: 100%;
        height: 100%;
        padding: 2rem 0;
    }

    .principal img {
        width: 300px;
        height: 250px;

    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .container {
        height: 100%;
        width: 100%;
    }

    .container span {
        color: #fff;
        margin-right: 1px;
    }

    .contenedor {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: initial;
        background-color: initial;
    }

    .informacon {
        width: 100%;
        height: 50%;
        position: relative;
    }

    .titulo1 {
        font-size: 20px;
        width: 100%;
        margin-left: 3rem;
        background-color: #3f8978;
        color: #fff;
    }

    .info_1 {
        width: auto;
        height: 100%;
        font-size: 13px;
        text-align: left;
        color: #57392e;
    }

    .origenes {
        width: 100%;
        height: 100%;
        margin: 1rem 0 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .origenes img {
        width: 200px;
        height: 200px;
        border-top-left-radius: 75%;
        border-top-right-radius: 10%;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 75%;

    }

    /*?s Contenedor 2*/

    .contenedor2 {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: initial;
        background-color: initial;
    }

    .informacon2 {
        width: 100%;
        height: 50%;
        position: relative;
    }

    .informacon2 span {
        color: #fff;
        margin-left: 4px;
    }

    .titulo2 {
        font-size: 20px;
        width: 100%;
        background-color: #3f8978;
        color: #fff;
    }

    .info_2 {
        width: auto;
        height: 100%;
        font-size: 13px;
        text-align: left;
        padding: 2rem 1.5rem 0 1.5rem;
        color: #57392e;
    }

    .crecimiento {
        width: 100%;
        height: 100%;
        margin: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .crecimiento img {
        width: 200px;
        height: 200px;
        border-top-left-radius: 10%;
        border-top-right-radius: 75%;
        border-bottom-left-radius: 75%;
        border-bottom-right-radius: 10%;
    }

    /*?Contenedor 3*/

    .contenedor3 {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: initial;
        padding-bottom: 2rem;
        background-color: initial;
    }

    .informacon3 {
        width: 100%;
        height: 50%;
        position: relative;
    }

    .informacon3 span {
        color: #fff;
        margin-right: 4px;
    }

    .titulo3 {
        font-size: 20px;
        width: 100%;
        background-color: #3f8978;
        color: #fff;
    }

    .listaLogros {
        width: auto;
        height: 100%;
        font-size: 13px;
        text-align: left;
        color: #57392e;
    }

    .logros {
        width: auto;
        height: 100%;
    }

    .logros img {
        width: 200px;
        height: 200px;
        border-top-left-radius: 75%;
        border-top-right-radius: 10%;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 75%;
    }

    /*?Contenedor 4*/
    .contenedor4 {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: initial;
        margin-bottom: 2rem;
        background-color: initial;
    }

    .informacon4 {
        width: 100%;
        height: 50%;
        position: relative;
    }

    .informacon4 span {
        color: #fff;
        margin-left: 4px;
    }

    .titulo4 {
        width: 100%;
        height: 100%;
        background-color: #3f8978;
        font-size: 20px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info_4 {
        width: auto;
        height: 100%;
        font-size: 13px;
        text-align: start;
        padding: 2rem 1.5rem 0 1.5rem;
        color: #57392e;
    }

    .principal {
        width: 100%;
        height: 100%;
        margin: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .principal img {
        width: 250px;
        height: 200px;

    }
}