<!-- <router-outlet></router-outlet> -->

<div class="title">
  <p class="text">
    <strong>

      Federación Nacional de la Industria Herbolaria y
      Medicina Alternativa Tradicional y Naturista A.C
    </strong>
  </p>
  <div class="logo">
    <img src="assets/federacion.png" alt="">
  </div>
  
</div>
  
  <nav>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">☰</label>
    <ul>
      <li><a routerLink="/inicio">Inicio</a></li>
      <li class="dropdown"> <a>¿Quienes Somos?</a>
        <div class="dropdown-content">
          <a routerLink="/historia">Historia FENIHMANT</a>
          <a routerLink="/mvv">Misión, Visión y Valores</a>
          <a routerLink="/codigoE">Codigo de Ética</a>
          <a routerLink="/equipoT">Equipo de Trabajo</a>
        </div>
      </li>
      <li><a routerLink="/recursos">Recursos</a></li>
      <li class="dropdown">
        <a class="dropbtn">Servicios</a>
        <div class="dropdown-content">
          <a routerLink="/servicios">¿Qué ofrecemos?</a>
        </div>
      </li>
      <li><a routerLink="/afiliacion">Afiliate</a></li>
    </ul>
  </nav>
  