/* Estilos básicos para la barra de navegación */


.title {
  height: 500px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: bolder;
  padding: 0 4.5em;
  position: relative;
  /* Asegura que el pseudo-elemento esté posicionado correctamente */
}

.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/navbar/header.jpg');
  /* Reemplaza 'tu-imagen.jpg' con tu ruta de imagen */
  opacity: 0.5;
  /* Ajusta la opacidad según lo necesites */
  z-index: -1;
  /* Asegura que esté detrás del texto */
}

/* Asegúrate de que el texto esté sobre el pseudo-elemento */
.title>* {
  position: relative;
  z-index: 1;
}

.text {
  height: 80%;
  width: 820px;
  font-size: 58px;
  color: #57392e;
  font-weight: bolder;
}



/* Aplica la animación al logo */
.logo {
  height: 100%;
  width: 20%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.logo img {
  height: 40vh;
  width: 15vw;
}


nav {
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.2);
  z-index: 2;
  font-weight: bolder;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  color: #57392e;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: color 0.3s, box-shadow 0.3s;
  position: relative;
}

nav a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #007c65;
  transition: 0.5s;
  z-index: -1;
}

nav a:hover::before {
  height: 100%;
}

nav a:hover {
  color: #fff;
}

/*?Ocultamos el checbox*/
#menu,
label {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #57392e;
  opacity: 0.87;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: background-color 1s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {

  .title {
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
  }
  .title::before{
    opacity: .3;
  }

  .Tprin{
    height: 100%;
    width: 70%;
  }
  .text {
    height: auto;
    width: 100%;
    text-align: justify;
    /* line-height:4rem;  */
    padding: 0 .5rem; 
    margin: 1rem;
    text-align: center;
  } 

  .Tprin p{
    font-size: 2rem;
    /* font-weight: inherit; */
    line-height: initial;
  }

  .logo{
    height: 100%;
    width: 30%;
    padding: 0 0 1rem 0;
    margin: 0 1rem;
  }
  .logo img{
    height: 100%;
    width: 100%;
  }
  
/* 
    .text {
      height: 20%;
      font-size: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #57392e;
      font-weight: bolder;
      text-align: center;
    }

    .logo {
      height: 20%;
      width: 7%;
    }

    .logo img {
      height: 2rem;
      width: auto;
    }  */

  .menu-icon {
    display: none;
  }

  #menu-toggle {
    display: none;
  }

}
@media screen and (max-width: 767px) and (min-width: 320px) {

  .title {
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .title::before{
    opacity: .3;
  }
  .Tprin{
    height: 100%;
    width: 100%;
  }
  .text {
    height: 100%;
    width: 100%;
    padding: 1rem 0;
    font-size: 1.2rem;
    text-align: center;
  }
  .logo{
    height: 100%;
    width: 100%;
    padding: 0 0 1rem 0;
    margin: 0;
  }
  .logo img{
    height: 15%;
    width: 15%;
  }

  nav {
    width: auto;
    position: relative;
    background-color: transparent;
  }

  ul {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    position: fixed;
    width: 100%;
    height: 100%;
  }

  input:checked~ul {
    display: block;
  }

  input {
    display: none;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    line-height: 30px;
    font-weight: bold;
    user-select: none;
    cursor: pointer; 
    top: 10rem;
    left: 10px;
    color: white;
    position: fixed;
    background-color: #57392e;
    z-index: 1001;
  }

  li {
    display: block;
    width: 100%;
    color: #fff;
    background: #007c65;
    margin: 0;
    text-align: center;
  }

  li::after {
    width: 100%;
    height: 100%;
    content: "";
    opacity: .8;
  }

  li a {
    display: block;
    padding: 10px;
    color: #57392e;
    text-decoration: none;
    width: 100%;
  }

  .dropdown-content {
    display: none;
    background-color: lightgrey;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    width: 100%;
    text-align: center;
  }

  .dropdown-content a {
    padding: 10px;
    color: #57392e;
    text-decoration: none;
    display: block;
    text-align: center;
  } 

}
