/* Estilos básicos para la barra de navegación */
@media screen and (min-width: 1024px) {

  .title {
    height: 400px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: bolder;
    padding: 0 4.5em;
    position: relative;
    /* Asegura que el pseudo-elemento esté posicionado correctamente */
  }

  .title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/header.jpg');
    /* Reemplaza 'tu-imagen.jpg' con tu ruta de imagen */
    opacity: 0.5;
    /* Ajusta la opacidad según lo necesites */
    z-index: -1;
    /* Asegura que esté detrás del texto */
  }

  /* Asegúrate de que el texto esté sobre el pseudo-elemento */
  .title>* {
    position: relative;
    z-index: 1;
  }

  .text {
    height: 80%;
    width: 820px;
    font-size: 58px;
    color: #57392e;
    font-weight: bolder;
  }


  /* Aplica la animación al logo */
  .logo {
    width: 200px;
    /* Ajusta el tamaño del logo según sea necesario */
    /* animation: fadeAndSlide 4s ease-in-out infinite; */
    /* Aplica la animación "fadeAndSlide" de forma continua */
  }

  nav {
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-weight: bolder;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    display: block;
    color: #57392e;
    /* Cambio de color de texto */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: color 0.3s, box-shadow 0.3s;
    /* Añadida transición para el cambio de color de texto y sombra */
    position: relative;
    /* Necesario para el efecto de iluminación */
  }

  nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #007c65;
    /* Cambio de color de fondo para iluminación */
    transition: 0.5s;
    /* Añadida transición para la altura */
    z-index: -1;
    /* Asegura que esté detrás del texto */
  }

  nav a:hover::before {
    height: 100%;
    /* Hace que la luz se expanda hacia arriba */
  }

  nav a:hover {
    color: #fff;
    /* Cambio de color de texto al pasar el cursor */
    /* box-shadow: 1px 2px 9px 1px #d0fbe9; */
    /* Añadida sombra al pasar el cursor */
  }


  /* Estilos para los elementos desplegables */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #57392e;
    opacity: 0.87;
    min-width: 160px;
    z-index: 1;
  }

  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.3s;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {

  .title {
    height: 400px;
    width: 148vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: bolder;
    position: relative;
    /* Asegura que el pseudo-elemento esté posicionado correctamente */
  }

  .title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/header.jpg');
    /* Reemplaza 'tu-imagen.jpg' con tu ruta de imagen */
    opacity: 0.5;
    /* Ajusta la opacidad según lo necesites */
    z-index: -1;
    /* Asegura que esté detrás del texto */
  }

  /* Asegúrate de que el texto esté sobre el pseudo-elemento */
  .title>* {
    position: relative;
    z-index: 1;
  }

  .text {
    height: 20%;
    width: auto;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #57392e;
    font-weight: bolder;
    margin: 0 4rem;
  }

  .logo {
    height: 15rem;
    width: 30em;
    margin: 2rem 3rem 2rem 0;
  }

  nav {
    position: sticky;
    top: 0;
    width: 148vw;
    text-align: center;
    background-color: white;
    box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-weight: bolder;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    display: block;
    color: #57392e;
    /* Cambio de color de texto */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: color 0.3s, box-shadow 0.3s;
    /* Añadida transición para el cambio de color de texto y sombra */
    position: relative;
    /* Necesario para el efecto de iluminación */
  }

  nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #007c65;
    /* Cambio de color de fondo para iluminación */
    transition: 0.5s;
    /* Añadida transición para la altura */
    z-index: -1;
    /* Asegura que esté detrás del texto */
  }

  nav a:hover::before {
    height: 100%;
    /* Hace que la luz se expanda hacia arriba */
  }

  nav a:hover {
    color: #fff;
    /* Cambio de color de texto al pasar el cursor */
    /* box-shadow: 1px 2px 9px 1px #d0fbe9; */
    /* Añadida sombra al pasar el cursor */
  }


  /* Estilos para los elementos desplegables */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #57392e;
    opacity: 0.87;
    min-width: 160px;
    z-index: 1;
  }

  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.3s;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}


@media screen and (orientratio:landscape) and (max-width: 769px) {}

/*? EStilos para celular*/
@media screen and (max-width: 768px) {
  .logo {
    height: 200px;
    width: 100px;
    width: auto;
    background-color: yellow;
  }
}