<div class="parrafo">
    <div class="imagen">
        <img src="/assets/Quienes Somos/CodigoEtica/codE.png" alt="">
    </div>
    <div class="infoP">
        <h3>Código de Ética para la Federación Nacional de la Industria Herbolaria,
            Medicina Alternativa Tradicional y Naturista A.C.
        </h3>
        <p class="txt">
            La Federación Nacional de la Industria Herbolaria, Medicina Alternativa
            Tradicional y Naturista A.C. (FNIHMATN) establece estándares éticos
            para sus operaciones. Este código asegura que sus miembros actúen de
            forma responsable y transparente en beneficio de los consumidores.
        </p>
        <div class="btn">
            <button (click)="cargarPDF()">Saber más</button>
        </div>
    </div>
</div>