<div class="parrafo">
    <div class="infoP">
        <h3>Código de Ética para la Federación Nacional de la Industria Herbolaria,
            Medicina Alternativa Tradicional y Naturista A.C.
        </h3>
        <p class="txt">
            La Federación Nacional de la Industria Herbolaria, Medicina Alternativa
            Tradicional y Naturista A.C. (FENIHMATN) establece estándares éticos
            para sus operaciones. Este código asegura que sus miembros actúen de
            forma responsable y transparente en beneficio del público.
        </p>
        <button (click)="cargarPDF()">Saber más</button>
    </div>
    <div class="imagen">
        <div class="im"></div>
    </div>
</div>

<div class="contenedor">
    <div class="informacon">
        <p class="titulo1">Inte<span>gridad</span></p>
        <p class="info_1">
            Los miembros deben actuar con honestidad,
            transparencia y responsabilidad.
        </p>
    </div>
    <div class="integridad">
        <img src="assets/integridad.png" alt="" />
    </div>
</div>

<div class="contenedor">
    <div class="informacon">
        <p class="titulo1"><span>Cali</span>dad</p>
        <p class="info_1">
            Los miembros se comprometen a ofrecer productos y
            servicios de alta calidad.
        </p>
    </div>
    <div class="integridad">
        <img src="assets/calidad.png" alt="" />
    </div>
</div>

<div class="contenedor">
    <div class="informacon">
        <p class="titulo1"><span>Seg</span>uridad</p>
        <p class="info_1">
            Los miembros priorizan la seguridad del consumidor
            y aseguran que los productos cumplan con las normas de seguridad.
        </p>
    </div>
    <div class="integridad">
        <img src="assets/seguridad.png" alt="" />
    </div>
</div>

<div class="contenedor">
    <div class="informacon">
        <p class="titulo4">Sostenib<span>ilid</span>ad</p>
        <p class="info_1">
            Los miembros se esfuerzan por operar de manera
            sostenible y reducir su impacto ambiental.
        </p>
    </div>
    <div class="integridad">
        <img src="assets/sostenibilidad.png" alt="" />
    </div>
</div>

<div class="contenedor">
    <div class="informacon">
        <p class="titulo1"><span>Respe</span>to</p>
        <p class="info_1">
            Los miembros tratan a todas las partes interesadas con
            respeto y dignidad, incluidos clientes, empleados y competidores.
        </p>
    </div>
    <div class="integridad">
        <img src="assets/respeto.png" alt="" />
    </div>
</div>