
.parrafo {
    width: auto;
    height: 720px;
    display: flex;
    justify-content: space-between;
    background: rgb(229, 229, 227);
    background: linear-gradient(90deg, rgba(229, 229, 227, 1) 0%, rgba(235, 219, 190, 1) 100%);

}

.imagen {
    width: 190vw;
    height: 100%;
    overflow: hidden;
}

.im {
    width: auto;
    height: 100%;
    background-image: url('/assets/codigoE.png');
    background-size: cover;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(black 50%,
            transparent);

}

.image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.infoP {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoP h3 {
    text-align: center;
    padding: 8rem 2rem 3rem 2rem;
    color: #007c65;
}

.infoP P {
    font-size: 18px;
    text-align: center;
    margin: 3rem 1rem;
    color: #57392E;
}


.txt {
    line-height: 1.6;
    text-align: center;
    padding-bottom: 5rem;
}

button {
    background-color: #0abf94;
    /* Color de fondo */
    color: white;
    /* Color del texto */
    padding: 12px 24px;
    border: none;
    /* Hacemos el botón más redondeado */
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    /* Quitamos el borde al hacer clic */
    position: relative;
    overflow: hidden;
    transition: all 0.3s;

    transition: all .3s ease-in;
}

/* Efecto de sombra al pasar el cursor */
button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 1;
    transition: all 0.3s;

}

button:hover {
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    background-color: #045043;
    transition: all .3s ease-out;
}

button:hover::before {

    transform: scale(3);
    /* Agrandamos el efecto de sombra al pasar el cursor */
    opacity: 0;
    /* Hacemos que la sombra desaparezca */
}

.contenedor {
    height: 200px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3rem 8rem;
    box-shadow: 0 4px 14px rgba(0, 0, 0, .2);
    transition: all .9s ease-out;
}

.contenedor:hover {
    background-color: #dfd6d6;
    transition: all .3s ease-in;
    transform: translateY(-9px);
    columns: #fff;
}

.informacon {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info_1 {
    padding-top: 2rem;
    color: #57392E;
    font-size: 18px;
    text-align: center;
}

.integridad {
    height: 100%;
    width: auto;
}

.integridad img {
    height: 100%;
    width: auto;
    transition: transform 1s ease;
    /* Añadí una transición para suavizar la rotación */
}

.integridad img:hover {
    transform: rotate(360deg);

}
.titulo1{
    color: #045043;
    font: 18px;
    font-weight: bolder;
}
